[2011-08-11 12:43] ghost opened #7 "TrySpec"
I guess the spec

...
 "Try" should {
    "rescue" in {
      val myException = new MyException
      Return(1) rescue { case _ => Return(2) } mustEqual Return(1)
      Throw(e) rescue { case _ => Return(2) } mustEqual Return(2)
      Throw(e) rescue { case _ => Throw(e) } mustEqual Throw(e) //THIS PART
    }
...

THIS PART should be Throw(myException) rescue ...
Just FYI

[2011-09-06 17:26] alaz opened #12 "Eval dies when run under Tomcat 7 versioned deployment"
I've prepared a trivial example to show the behavior: [here](https://github.com/alaz/tweval)

Build it: `mvn package`
## Deploy w/o version

[code]

result:

<pre>Sep 6, 2011 5:21:24 PM org.apache.catalina.startup.HostConfig deployWAR
INFO: Deploying web application archive ROOT.war
0 [Thread-13] INFO bootstrap.liftweb.Boot - Started</pre>

## Deploy with version

[code]

result:

<pre>Sep 6, 2011

[2012-01-12 16:45] #12 closed, assigned to nobody

[2012-01-27 13:35] alexeyr opened #14 "`sbt update` has to time out at https://m2proxy.atlassian.com/repository/public/"
When running `sbt update` on a clone, I get multiple errors like

[code]

Since the connection takes a long time to time out, `update` takes a _very_ long time. It can be worked around by adding

[code]

to `Project` and `ProjectDefaults`.

[2012-01-30 06:42] alexeyr opened #15 "Update Scaladoc at http://twitter.github.com/util"
Currently documentation there is for 1.8.6-SNAPSHOT

[2012-02-02 00:15] yang opened #16 "Problems with transitive dependencies"
I added

[code]

to my build.sbt, but this introduced problems with transitive dependencies. thrift#libthrift can't be found (are you missing the .pom?) and jmxtools/jmxri could not be fetched.

Complete output below.

[code]

[2012-03-30 08:13] kongliangzhong opened #19 "failed download com.twitter#finagle-core;2.0.0!finagle-core.jar"
[info] == util-zk-common / update ==
[info] downloading http://maven.twttr.com/com/twitter/finagle-core/2.0.0/finagle-core-2.0.0.jar ...
[warn]  [FAILED     ] com.twitter#finagle-core;2.0.0!finagle-core.jar: Downloaded file size doesn't match expected Content Length for http://maven.twttr.com/com/twitter/finagle-core/2.0.0/finagle-core-2.0.0.jar. Please retry. (52945ms)
[warn]  [FAILED     ] com.t

[2012-05-03 21:01] ghost opened #21 "ScribeHandler's flush operation shall be async"
I believe ScribeHandler's flush operation shall be async otherwise the while-loop inside the flush method might take a long time thus cause the public logging method to take very long.

[code]

I'm using ScribeHandler to write logs to a scribe server, I'm observing that occasionally there are tens of milliseconds delay between two next-to-each-other log.debug() clauses. This happens very rarely bu

[2012-05-05 14:51] arbfranklin opened #22 "MessageFormat not used when formatting LogRecord"
If you're calling Java code that uses JUL you may find the log records are formatted incorrectly. ie.

[code]

If called by Java code you'll see "Hello Bob, how are you?". When called from Scala the log message will not resolve {0} to be name and you'll see "Hello {0}, how are you?".

Internally it appears like util-logging uses the StringFormat instead of MessageFormat. It would be great if we co

[2012-05-07 20:24] stephenjudkins opened #23 "Eval generates broke classpath when current classpath includes filename with spaces"
To reproduce:
- Create an SBT project in a directory that includes an escaped space (%20).
- Evaluate Scala source code that includes a reference to class in your current classpath.
- Observe failure:

[code]

[2012-05-14 06:17] redspade opened #26 "Build fails out of the box (due to dependencies on jmx / jdmk / jms in util-zk & util-zk-common)"
`sbt update` fails due dependencies on jmx / jdmk / jms on current version of master branch. (9172115caff1e7e75ce3fac9be25c29d566868a6).

`util-zk` & `util-zk-common` projects include these dependencies, although they are excluded in `sharedSetting`.

If this is not intentional, I think these packages should be excluded in `util-zk` & `util-zk-common` as well.

[2012-05-15 02:37] #26 closed, assigned to nobody

[2012-05-15 23:30] #22 closed, assigned to nobody

[2012-05-15 23:30] #16 closed, assigned to nobody

[2012-05-15 23:31] #14 closed, assigned to nobody

[2012-05-15 23:31] #19 closed, assigned to nobody

[2012-05-15 23:32] #21 closed, assigned to nobody

[2012-05-15 23:32] #23 closed, assigned to nobody

[2012-06-08 13:19] mkonicek opened #29 "util.Eval's class loader should be configurable"
util.Eval has an issue in when used in environments with custom class loaders (such as in Play framework).

We have a set of libraries using util.Eval and we are using those libraries in a Play application. Basically, there are two class loaders in action at the same time.

While `new Eval().apply[AnyRef](configFileContents)` correctly loads a `MyConfig` object, that object can't be casted to `MyC

[2012-08-02 19:05] hoffrocket opened #30 "Time.nanoTimeOffset"
https://github.com/twitter/util/blob/master/util-core/src/main/scala/com/twitter/util/Time.scala#L42

I don't think it's safe to statically cache the offset for long running apps.  The system time will likely change due to ntpd or whatever  and then the offset won't reflect those changes.

[2012-08-14 15:49] emchristiansen opened #31 "Include link to Maven repository in README"
Please include a link to a Maven repository with pre-compiled jars. For example, just mention the existence of http://maven.twttr.com/.

[2012-09-07 21:33] devth opened #35 "maven repo"
What's up with the maven repo? http://maven.twttr.com/com/twitter/util/

Should this not be used? I proxied it into my nexus but I can't actually pull down a 3.0.0. Only 1.8.18. But that depends on a super old version of guava.

[2012-09-07 22:20] #35 closed, assigned to nobody

[2012-09-11 17:32] #31 closed, assigned to nobody

[2012-09-16 15:51] alexanderdean opened #37 "sbt-package-dist;1.0.5 not found when building locally"
When loading up in SBT, I get an unresolved dependency:

[code]

[2012-09-16 16:02] #37 closed, assigned to nobody

[2012-10-26 06:09] alexeyr opened #40 "FutureTransformer (and other Java-friendly APIs?) needs @throws annotations"
Scaladoc says it's allowed to throw exceptions from `FutureTransformer.map/flatMap/handle/rescue`, but since they aren't annotated with `@throws` checked exceptions can't be thrown from implementations. In this particular case there is a workaround with calling `super.handle(throwable)` instead of `throw throwable`, but it's a bit ugly.

[2012-10-30 07:28] sritchie opened #41 "Bijection should be f-bounded"
This would allow codecs to be chained together with `andThen` and not be up-cast to `Bijection`.

[2012-11-06 08:54] electricmonk opened #42 "Rescue from TimeoutException"
I'm trying to write a method to execute a blocking method (legacy HTTP GET, for that matter) asynchronously, with retries on timeout. I'd like to avoid catching the TimeoutException, so I'm trying to use Future.rescue instead.

Follows is a specs2 test attempting to do just that; for some reason which I can't really understand, the test fails. Am I missing something, or is there a bug somewhere?

[2012-12-23 20:07] #41 closed, assigned to nobody

[2012-12-23 20:07] sritchie opened #46 "util-cache"
We should create a util-cache project and move `ImmutableLRU.scala` and

https://github.com/twitter/finagle/blob/master/finagle-core/src/main/scala/com/twitter/finagle/util/Cache.scala

over.

[2012-12-23 20:13] sritchie opened #47 "setReadLength on ThriftCodec"
Once we upgrade to Thrift 0.7.0, we can prevent the TProtocol from allocating huge amounts of memory by setting a read length limit:

[code]

[2012-12-26 19:02] sritchie opened #48 "Util should publish jars to maven central"
I can help get this done -- we probably just need to modify internal CI to push w/ proper credentials?

[2012-12-27 17:22] #48 closed, assigned to nobody

[2013-01-02 22:54] sritchie opened #50 "Util should use a version of thrift available outside of artifactory"
This project is unbuildable out of Twitter because of thrift/libthrift 0.5.0.

[2013-02-19 09:14] btd opened #54 "[util-eval] scala 2.10 java.lang.NoSuchMethodError"
scala> import com.twitter.util._
import com.twitter.util._

scala> val eval = new com.twitter.util.Eval(Some(new java.io.File(System.getProperty("java.io.tmpdir"))))
eval: com.twitter.util.Eval = com.twitter.util.Eval@2ce8dc6e

scala> eval("1+1")
java.lang.NoSuchMethodError: scala.Predef$.augmentString(Ljava/lang/String;)Lscala/collection/immutable/StringOps;
    at com.twitter.util.Eval$IncludePr

[2013-04-08 16:12] cacoco opened #60 "java.lang.UnsupportedOperationException: Position.line"
In trying to eval a config file that has an error in it I've seen that Eval.scala throws an UnsupportedOperationException.

[code]

As you can see this happens on line 444 in Eval.scala. On that line, Eval.scala is calling scala.reflect.internal.util.Position.line. Looking at the source for Position.line, it is explicitly not implemented:

[code]

Along with Position.column:

[code]
which is also

[2013-05-03 13:42] #54 closed, assigned to nobody

[2013-05-19 19:42] alexanderdean opened #66 "java.lang.NoClassDefFoundError: scala/collection/JavaConversions$JMapWrapper"
I have [a project](https://github.com/snowplow/scala-maxmind-geoip/tree/feature/2.10-support) which is using the `LruMap`:

[code]

The library is the latest version:

[code]

Everything was fine until I upgraded my project to Scala 2.10 - here's the weirdness at the console:

[code]

`IpGeo` makes use of `LruMap`, [which in turn uses](https://github.com/twitter/util/blob/master/util-collection/sr

[2013-05-19 20:57] #66 closed, assigned to nobody

[2013-08-28 11:23] btd opened #71 "util-eval: Question about classpath in executable jar"
Hello.

At https://github.com/twitter/util/blob/master/util-eval/src/main/scala/com/twitter/util/Eval.scala#L338 it uses assumption that executable jar have just one, but on my debian server with last oracle jdk i have such class path:

List(List(/opt/staging/webapp/webapp/dist/webapp_2.10-0.1.jar, /opt/staging/webapp/newrelic/newrelic.jar), List(/usr/lib/jvm/j2sdk1.7-oracle/jre/lib/ext/localedata

[2013-10-17 15:18] MasseGuillaume opened #72 "eval could use the reflexion compiler"
http://docs.scala-lang.org/overviews/reflection/overview.html

[2013-10-21 09:50] sirmax opened #73 "Removal of Var.memo() in 6.7.0 breaks compatibility with Finagle 6.7.1"
While using Finagle 6.7.1 in my project I've bumped the util-core dependency to the latest 6.7.0. The result is

[code]

Formally, the removed `Var.memo()` was in public API, so either it should have been a major release, or, preferrably, the method should have been marked as deprecated, in case if anyone has already used it.

[2013-10-30 12:54] ngocdaothanh opened #74 "util-logging: Guide for configuring in README is deprecated"
This code in README:

[code]

gives compilation warning:

[code]

[2013-11-04 21:19] jdanbrown opened #75 "Duration.Top is not preserved by .fromNanoseconds"
[code]

`Duration.Top` is preserved by `.fromMilliseconds` ([relevant code](https://github.com/twitter/util/blob/a5a30b76a050687cb0dec40965dd8d787cff3204/util-core/src/main/scala/com/twitter/util/Time.scala#L70)):

[code]

But not by `.fromNanoseconds` ([relevant code](https://github.com/twitter/util/blob/a5a30b76a050687cb0dec40965dd8d787cff3204/util-core/src/main/scala/com/twitter/util/Duration.s

[2013-11-05 22:58] #75 closed, assigned to nobody

[2013-11-20 09:59] chikei opened #76 "java.lang.UnsupportedOperationException: Current thread CPU time measurement is not supported."
Was trying to deploy some service using finagle on FreeBSD, and Scheduler throws

[code]

It seems FreeBSD does not support ThreadMXBean.getCurrentThreadCpuTime(), any chance to add checking call ThreadMXBean.isCurrentThreadCpuTimeSupported() before ThreadMXBean.getCurrentThreadCpuTime() ?

[2013-12-02 22:33] pequalsnp opened #77 "Compiler issue with Futures"
I'm seeing some strange behavior in scala 2.10.2 with Future.

Welcome to Scala version 2.10.2 (Java HotSpot(TM) 64-Bit Server VM, Java 1.7.0_40).
Type in expressions to have them evaluated.
Type :help for more information.

scala> import com.twitter.util.Future
import com.twitter.util.Future
               ^

scala> def a(default: Int, f: Future[Int]) = {
     | f handle { case _ => default }

[2013-12-10 04:26] indykish opened #79 "Migration 6.9.0 from 6.8.1 [util-zk] fails to see dependency junit 4.8.1, mockito-all,"
Here is our build.sbt : https://github.com/indykish/megam_common/blob/master/build.sbt
We use sbt 0.13.0, scala 2.10.3

Any thing else we should do different for using 6.9.0 ? It works well with 6.8.1.

It tries to download junit-sources.src.

[code]

[2013-12-17 03:03] #79 closed, assigned to nobody

[2014-01-17 16:27] devth opened #81 "Any docs for util-zk?"

[2014-01-23 01:52] plainlystated opened #82 "SyslogFormatter doesn't handle multiline messages well"
The SyslogFormatter overrides lineterminator (to be ""), which means logs go to syslog as a single line. However, each sub-line (what would be a line in the default logger) still gets the priority & timestamp prefix, which makes for a very unreadable line.

For instance, here's my config:
[code]

The following lines look fine:
[code]

However, a stacktrace looks pretty bad (notice that the "&lt;11

[2014-02-07 21:15] #73 closed, assigned to nobody

[2014-02-19 00:46] #76 closed, assigned to nobody

[2014-02-19 00:48] #7 closed, assigned to nobody

[2014-02-21 21:19] #81 closed, assigned to nobody

[2014-02-25 01:18] ianoc opened #85 "Performance is O(N^2) doing future collect on a list..."
https://github.com/twitter/util/blob/master/util-core/src/main/scala/com/twitter/util/Future.scala#L325

looking up there fs(i) calls Stream.drop(i). With large lists this becomes a bottleneck in our code. Should call toIndexedSeq, or .iterator.zipWithIndex instead?

[2014-02-27 23:45] mosesn opened #86 "deleting individual util api docs"
We have unified api docs now, so there isn't a need for individual util api docs.  There shouldn't be that many links to them anymore, but if someone is depending heavily on them, just be aware that they're disappearing soon.

[2014-03-07 15:32] metasim opened #89 "Provide ability to provide custom scala.tools.nsc.Reporter in util-eval."
It would be helpful to be able to specify the `scala.tools.nsc.Reporter` used by the private StringCompiler class for flexibility in error handling.

[2014-03-18 21:29] senthilnest opened #91 "StorageUnit needs to implement hashCode"
StorageUnit implements equals, but does not bother to implement hashCode which is a [bad idea](http://books.google.com/books?id=ka2VUBqHiWkC&pg=PA45&lpg=PA45&dq=joshua+bloch+effective+java+equals+hashCode&source=bl&ots=yYLkJlu6RY&sig=S-GtX6VVzDhbrwzbrpmgIth5wok&hl=en&sa=X&ei=37koU8PHD4_qoAS7y4LQBA&ved=0CD0Q6AEwAw#v=onepage&q=joshua%20bloch%20effective%20java%20equals%20hashCode&f=false).

[code]

[2014-03-20 21:20] #91 closed, assigned to nobody

[2014-04-09 21:45] tdyas opened #93 "scala-async support"
I'm not sure if you all are considering supporting the [scala-async library](https://github.com/scala/async) with util-core (which would be nice). But if you are, we wrote an adapter between the two: https://github.com/foursquare/twitter-util-async

[2014-04-11 08:18] sslavic opened #94 "Upgrade ZooKeeper dependency to latest 3.4"
Various Twitter projects, including util modules still depend on ZooKeeper 3.3 even though ZooKeeper 3.4 is avilable since December 2011.
Please consider upgrading.

[2014-04-16 13:53] #93 closed, assigned to nobody

[2014-04-21 15:57] mosesn opened #95 "Support scala 2.11"
We would like to support scala 2.11.

2.11 needs to be added to the list of cross-built scala versions, which is simple.  The bigger problem is that not every scala library has 2.11 versions yet, or will have 2.11 versions in the future.
## Blockers
### scalatest

scalatest has only published one version against 2.11 at the time of this issue, and it's from the scalatest 2 major version.  Either w

[2014-05-19 02:08] MansurAshraf opened #98 "Future deadlock"
Hi,

I am working on upgrading [storehaushaus-kafka](https://github.com/twitter/storehaus) to work with Kafka 0.8.+. One of the issue I am running into is that Kafka 0.8 has introduced some blocking operations and when these operation get called inside a Future/FuturePool they end up in intermittent deadlocks. In particular [this](https://github.com/apache/kafka/blob/0.8.1/core/src/main/scala/kafk

[2014-05-23 01:48] jedws opened #99 "Provide a way to shutdown Closable.collectorThread"
When running in a plugin environment, it is necessary to shutdown all threads a plugin has started.

`Closable.collectorThread` isn't exposed and thus cannot be shutdown via any lifecycle API.

A workaround is to throw a fatal error from a `Closable` that is registered using the 'Closable.closeOnCollect(Closable, Object)` method, but this has no ordering guarantees.

A more friendly approach would

[2014-05-30 20:24] gianm opened #100 "ExecutorServiceFuturePool fatal exceptions silently leave dangling Futures"
When a FuturePool task throws a fatal exception (like an OOME), the task exits silently and the future never resolves. I think this is because apply tries to update its promise with Try(f), but Try(f) doesn't catch fatal exceptions in f, and so they bubble up and kill the runnable in the underlying executor service. Nothing is logged and the promise is never updated.

Code showing the behavior:

[

[2014-06-07 15:55] sirmax opened #101 "Event[T]() creates non-threadsafe Event instance"
[`Event[T]()`](https://github.com/twitter/util/blob/192a134/util-core/src/main/scala/com/twitter/util/Event.scala#L284) creates an instance that maintains a list of registered witnesses in `@volatile var registerrs`. The updates to this var are neither atomic nor synchronized. As a result adding/closing a witness is not guaranteed to execute successfully.

Here's a sample implementation that I cur

[2014-07-16 10:45] richardclose opened #105 "util-eval refers to classes that are removed or deprecated in scala 2.11.x"
The issue is with util-eval/src/main/scala/com/twitter/util/Eval.scala, line 81:

    classPathOfClass("scala.ScalaObject")

This fails because ScalaObject has been removed, after being deprecated in 2.10.

Likewise, line 75:

    classPathOfClass("scala.tools.nsc.Interpreter")

refers to a class that is deprecated in 2.11.

(It's a bit odd that that this wasn't flagged by the unit tests)

[2014-08-13 21:17] evanj opened #107 "RichU64String.toU64Long "parses" single digit negative numbers"
This is extremely unimportant and may even "not a bug", but I was surprised when I did:

[code]

In this case, `longVal` is `255`. Seems to me like this should probably throw `NumberFormatException`, since it isn't a valid unsigned 64-bit string? Other example values that return numbers:

-f
-f00
10-f00

I'm happy to submit a patch if that makes sense.

[2014-08-26 17:49] #95 closed, assigned to nobody

[2014-10-26 15:46] #85 closed, assigned to nobody

[2014-12-23 01:21] sunnykaka opened #117 "Did util-core not support 2.11.4 yet?"
Did twitter util-core not support 2.11.4 yet?
I got this exception when I add "com.twitter" %% "util-core" % "6.12.1" to my build.sbt.

[code]

here is my build.sbt

[code]

[2014-12-23 01:33] #117 closed, assigned to nobody

[2015-01-06 01:50] y0un5 opened #118 "Thread-local LocalScheduler$Activation objects are never garbage-collected"
LocalScheduler has thread-local Activation objects.

[code]

And when a thread-local Activation is created, it is added to activations var.

[code]

But there is no code to remove Activation objects from activations. So these are never garbage-collected, because they are referenced by activations even after their owner threads are terminated.

This is not a problem if using only fixed-size threads

[2015-01-06 13:09] hgfischer opened #119 "Update README"
Please, consider updating README. I just find out that it uses some deprecated examples.

[2015-01-06 13:11] hgfischer opened #120 "Use stdout as default output for ConsoleHandler"
Currently stderr is used for all logs sent to ConsoleHandler. This is not a good practice. Please, consider using stdout for everything and stderr only for ERROR levels.

cheers

[2015-01-06 17:39] kevinoliver commented on #119
Sorry about that, it is pretty out of date.

We have been discussing a major rework of the util docs and site. Hopefully you'll see that over the next few months.

[2015-01-07 23:20] kevinoliver commented on #118
Thanks for the report.

We are reviewing a commit that would fix the leak.

[2015-01-14 21:38] anshumans opened #123 "What's the right pattern to crash process on certain exceptions in a FuturePool?"
I have a finagle service, and I want to be able to crash the process on certain exceptions that might fire in a FuturePool.  What's the right pattern to do this?

[2015-01-14 22:12] mosesn commented on #123
Have you looked at [Monitors][0]?

[0]: https://github.com/twitter/util/blob/master/util-core/src/main/scala/com/twitter/util/Monitor.scala#L88

[2015-01-14 22:21] anshumans commented on #123
I was taking a look at that.  Are there examples of how to use them?  Should I be wrapping the Monitor around the body of my FuturePool block?

[2015-01-14 23:09] anshumans commented on #123
Also, it seems that by throwing an exception in my monitor will only cause the RootMonitor to handle it instead rather than crash the process.

[2015-01-15 03:26] mosesn commented on #123
Have you considered writing a Monitor which calls System.exit?  It won't fall through to RootMonitor in that case.

[2015-01-15 18:09] anshumans commented on #123
Yeah, that was going to be a last resort.  Generally calling System.exit is bad form :)  That's why I wanted to see if there's a better way of gracefuly shutting down my finagle server, but it doesn't seem like there is.

[2015-01-15 18:15] mosesn commented on #123
@anshumans you could exit normally if you wanted . . . but you're going to have to write code to gracefully shut down, the same way as normal (ie /admin/shutdown in TwitterServer).  We don't have a special case for FuturePool.

Could you elaborate on what you were hoping we would have?

[2015-01-15 18:40] anshumans commented on #123
I just wanted to check if there was anything I had to do specifically with the FuturePool to shut it down.  When shutdown my finagle thrift server, there were still a bunch of FuturePool.unbounded threads still sitting around, which was preventing the process from exiting.

[2015-01-15 19:40] mosesn commented on #123
@anshumans the FuturePool's threads are all [daemon threads][0], so I don't think that's what's preventing your process from exiting.  That seems to be a separate problem from crashing your program when you get an exception in your FuturePool though . . . are these two separate problems that you have?  Could you elaborate on the problematic situation you're getting into?

[0]: https://github.com/t

[2015-01-15 19:48] anshumans commented on #123
Sorry, I should've been more clear - you're right, my issue with shutting down my Finagle server not shutting down the process is a separate problem.  My original question was really about what the right way was to crash the process if an exception got fired within a FuturePool, and it sounds like the best way is to call System.exit either in a Monitor or in the onFailure callback.

[2015-01-15 19:56] mosesn commented on #123
If you want to do a clean shutdown, and your TwitterServer is wired up properly, then hitting that endpoint is probably a good way to shut down too.  My assumption if there's a special exception that you want to crash on is that you think it would be unsafe to continue making progress (like if there is a really bad state that you have gotten into).

Please reopen if you have any further questions.

[2015-01-15 19:56] #123 closed

[2015-01-15 20:11] anshumans commented on #123
Awesome, thanks for all your help!

[2015-01-22 11:08] fommil opened #125 "oh awesome, *another* logging API"
can you please give some docs or an interface to route to SLF4J?

If this doesn't require anything fancier than "simply" (it's not) re-routing JUL to SLF4J a link to the relevant docs would be appreciated by many.

[2015-01-22 17:26] mosesn commented on #125
Hey @fommil, I think the Logging api is just a thin wrapper around jul, and I'm not sure of anywhere where we force you into using it.  What's the specific problem you're running into?

[2015-01-22 17:48] fommil commented on #125
it's a transitive dep and if you're using it internally, I need to deal with that

[2015-01-22 18:10] mosesn commented on #125
A transitive dependency on which module?  I'm sorry, but it's going to be much easier for me to help you if you can elaborate.

[2015-01-22 21:50] fommil commented on #125
finagle and the whole twitter universe is using this logging API which means anyone using anything released by twitter needs to specially configure your logging API to go to SLF4J. I'm suggesting that you make this easy for people by providing some advice to do this. Reading your docs further, it looks like you're just using JUL, so I suggest you make that even clearer. The whole enterprise world

[2015-01-22 22:01] vkostyukov commented on #125
@mosesn, I think @fommil means that while it's still possible to use SLF4J in the user application it's not possible to configure Finagle servers/clients, TwitterServer & Co to use SLF4J. So, users end up having two different messages in the log (different logs?): one group of messages is from user code (from SLF4J) while another group of messages is from Finagle internals (from util-logging).

@f

[2015-01-22 22:25] caniszczyk commented on #125
@fommil we always welcome contributions if you have ideas on how to make things better for you, it's fairly easy to contribute to our docs

https://github.com/twitter/finagle/blob/master/CONTRIBUTING.md#documentation

[2015-01-22 23:14] fommil commented on #125
@vkostyukov yes, absolutely

@caniszczyk if you insist on writing **yet another logging framework** then writing documentation is definitely a cost that you should be made to pay yourself, :stuck_out_tongue: (along with being made to eat soap and write out 1000 times "I will not create another logging framework for the JVM").

[2015-01-22 23:14] #125 closed

[2015-01-22 23:18] mariusae commented on #125
Hi @fommil, I understand your frustration. util-logging is there for historical reasons, that are now (and perhaps always were) outdated. We're hoping to obsolete util-logging in the medium-term future, probably to be replaced with SLF4J.

[2015-01-23 01:53] dvryaboy commented on #125
a pull request to replace util-logging with SLF4J would be a pretty constructive way to offer criticism

[2015-01-23 06:53] fommil commented on #125
@mariusae :+1:

[2015-01-27 21:26] mosesn opened #126 "dalvik support"
We're looking for help to add dalvik support.  This is going to be in a few parts, but basically it's going to be in abstracting away all of the bits that aren't supported by dalvik, in util, finagle, twitter-server.  These are going to be things like jmx, and java.lang.Management.

We don't know yet whether we'll want to merge in these contributions, or make an android-compatible fork, but we're

[2015-01-28 16:28] chester89 commented on #126
So it will be possible to run finagle services on Android phone? :+1:

[2015-01-28 17:02] mosesn commented on #126
I don't know if you'd be able to host a server easily, but you could certainly use the finagle client.

[2015-02-12 17:09] koertkuipers commented on #105
do i understand it correctly that util-eval will be made available for 2.11?
thats good news

i would be curious to know what other configuration mechanisms are preferred over util-eval. i did not realize it had fallen out of favor. we use it extensively for runtime compilation of classes...

thanks

[2015-02-12 17:15] mosesn commented on #105
@koertkuipers we generally suggest that folks use the flags API instead.  It can be found in util-app, and it's described in the TwitterServer [docs][0].  If you're using flags, we generally recommend that you use TwitterServer.

[0]: http://twitter.github.io/twitter-server/Features.html#flags

[2015-02-12 22:49] koertkuipers commented on #105
@mosesn
i assume you already fixed util-eval up for scala 2.11, because i got the tests for it to run just fine in with one change in Eval.scala:
[code]

[2015-02-12 22:54] travisbrown commented on #105
@koertkuipers Yep, see [this commit](https://github.com/twitter/util/commit/84b9fa50916b496f71d2fd9b0cbb34f191b8a51f) in `develop`.

[2015-02-12 22:58] koertkuipers commented on #105
great! i was looking on the wrong branch :(
glad to see its back. if it no longer has importance inside twitter i will
look around for alternatives (scala Toolbox comes to mind) but for now we
love this tool to run quick jobs from text files (in scalding and spark),
and for Scala DSL config files, which we use extensively (i still like it
way better than json or yaml).

happy to help out next time

[2015-02-13 05:19] koertkuipers opened #127 "java 6 support dropped?"
this is a question more than an issue... no more java 6 support?

on develop branch:
[error] /home/koert/src/twitter/util/util-core/src/test/scala/com/twitter/io/BufTest.scala:429: object StandardCharsets is not a member of package java.nio.charset
[error]     import java.nio.charset.StandardCharsets.UTF_8

[2015-02-13 05:26] koertkuipers commented on #127
it must just be a mistake. i fixed that one import and had no more issues

[2015-02-13 09:03] mosesn commented on #127
@koertkuipers yes, we dropped java 6 support.  We only announced it on the finaglers [listserv][0] (since util doesn't have its own listserv).

[0]: https://groups.google.com/forum/#!searchin/finaglers/java$206/finaglers/3IFfjryHbVo/r9osYwyfI60J

[2015-02-13 09:03] #127 closed

[2015-02-18 17:27] kevinoliver commented on #118
Sorry for the late update. A fix for this has been applied locally and should show up on the develop branch in the near future.

[2015-03-06 00:55] drob opened #129 "Alternate ShardCoordinator Policies?"
First off, thank you for an excellent library! This has already saved me from writing some tricky code.

I noticed that `ShardCoordinator` uses a linear scan over the set of possible IDs. Would you be open to a PR to make this configurable with the current behavior as a default? In particular, I was hoping to add an option to shuffle `availableIds` before attempting to acquire the locks.

Thanks a

[2015-03-06 05:53] mosesn commented on #129
That seems fine, but could you elaborate on why you're interested in this?

[2015-03-06 23:51] drob commented on #129
I was thinking about a pathological case in which N workers starting at once would cause a lot of unnecessary node creation attempts, but on second thought this would require very unlucky timing, and the failure mode wouldn't even be that bad assuming N on the order of 1000.

[2015-03-06 23:51] #129 closed

[2015-03-11 13:45] rightfold opened #130 "Add broker receiver and broker sender types"
It would be useful to have views of brokers than can only receive or only send, such that a receiver has only `?`, `??`, `recv...` methods and a sender has only `!`, `!!`, `send...` methods. This would be useful in particular in co- and contravariant situations. This is similar to unidirectional channels in Go.

[2015-03-11 17:20] rightfold commented on #130
I'll craft a pull request to demonstrate my intent.

[2015-03-23 19:13] mosesn commented on #130
Are you still working on a pull request?  Happy to help with it.

[2015-03-23 19:28] rightfold commented on #130
I haven't done any Scala programming in a while, but I do have some ideas about the possible implementations:

1. `Broker[T]` could be a subtype of both `BrokerReceiver[T]` and `BrokerSender[T]`.
2. `Broker[T]` is unchanged, and new types `BrokerReceiver[T]` and `BrokerSender[T]` take a `Broker[T]` as a constructor argument.

[2015-03-24 10:33] #105 closed

[2015-04-16 17:58] vkostyukov commented on #15
I believe this is no longer actual.

[2015-04-16 17:58] #15 closed

[2015-04-16 18:03] vkostyukov commented on #30
`Time.nanonTimeOffset` [is deprecated](https://github.com/twitter/util/blob/master/util-core/src/main/scala/com/twitter/util/Time.scala#L328) since 5.4.0. Closing this.

[2015-04-16 18:03] #30 closed

[2015-04-16 18:08] vkostyukov commented on #46
There is already [`util-cache`](https://github.com/twitter/util/tree/master/util-cache/src/main/scala/com/twitter/cache) project. Although, it might be a good idea to move Finagle's cache there.

[2015-04-16 18:39] vkostyukov commented on #50
I guess, this can be closed now.

[2015-04-16 18:39] #50 closed

[2015-04-16 18:40] travisbrown commented on #15
The 1.8.6-SNAPSHOT docs were the last version before Unidoc, and for the sake of search engines they're still available. I noticed last summer that they were showing up in search results and [added redirects](https://github.com/travisbrown/util/commit/72ee56d929fde621011fc617630a18d18f65d4f0) and canonical links to the new docs, which should allow us to remove the old ones at some point.

Thanks f

[2015-04-16 20:24] vkostyukov commented on #101
Can we closed it based on [this commit](https://github.com/twitter/util/commit/3b0ebef10dcb0f0ceca1cd36920a3d23f5fe3846)?

[2015-04-17 08:21] sirmax commented on #101
@vkostyukov sure! I'm closing it now.

[2015-04-17 08:21] #101 closed

[2015-04-20 21:49] luciferous commented on #40
That makes sense to me. Would you like to submit a PR? If we move fast enough we can get this into the next release.

[2015-04-20 21:52] luciferous commented on #40
Makes sense to me. Want to submit a PR? If we move fast enough we can get it into the next release.

[2015-04-20 21:55] luciferous commented on #42
@electricmonk can you reproduce this with the latest release?

[2015-04-20 22:00] luciferous commented on #77
@pequalsnp https://github.com/scala/scala/blob/2.11.x/src/reflect/scala/reflect/internal/StdNames.scala#L1099

[2015-04-20 22:00] #77 closed

[2015-04-20 22:04] luciferous commented on #130
@rightfold how's this going?

[2015-04-21 08:02] alexeyr commented on #40
OK, Two considerations:

1. Can `FutureEventListener` throw exceptions as well?
2. Is there other "Java-friendly API" in addition to `FutureTransformer` and `FutureEventListener`?

[2015-04-21 08:04] luciferous commented on #40
Ok, trying to understand this better. Why throw when a Future.exception(exc) can be returned instead?

[2015-04-21 08:07] alexeyr commented on #40
It can't be returned from `map` or `handle`.

[2015-04-21 08:08] luciferous commented on #40
Why not use flatMap in instances when you might want to throw instead of map. And, for handle why not use transform?

[2015-04-21 08:19] alexeyr commented on #40
Yes, that's an option.

Better would be to override `rescue`, actually.

Yes, it's probably unnecessary. Though it might be useful to document in ScalaDoc.

[2015-04-21 08:22] luciferous commented on #40
That's a good point. It just seems against the "style" to throw exceptions in these closures, even though they do get converted to Futures.

[2015-04-27 17:14] vkostyukov commented on #46
We had an internal discussion and decided to not publish the Finagle's cache in utils but keep it private.

[2015-04-27 17:14] #46 closed

[2015-05-03 12:14] alexflav23 opened #132 "Failing builds because of twitter dependencies"
Hi,

For the past 3 days we have been experiencing a lot of issues with some transitive dependencies of Twitter projects. As our entire eco-system is basically made of Twitter OSS, a vast majority of things are failing beyond our control and we do not mirror ```maven.twttr.com```.

Long story short, could you think of any reason why the following would fail to resolve? I will add that multiple CI

[2015-05-03 14:24] travisbrown commented on #132
These issues have been affecting our open source builds as well, and the internal team responsible for the `maven.twttr.com` repository is investigating the problem. They're hoping to have a fix soon, but in the meantime there are a couple of fairly reasonable workarounds. One is to add a line like this to your Travis config:

[code]

This will turn on (three) retries for resolution and downloadin

[2015-05-19 17:45] travisbrown commented on #132
The issue with `maven.twttr.com` has been resolved (at least we have a fix that seems to work on all the cases I've tried or heard of), so you shouldn't need the workarounds any longer. Please reopen if you continue to see failures.

[2015-05-19 17:45] #132 closed

[2015-05-24 21:19] syamantm opened #133 "bad sbt-launch.jar"
I ran into the same issue as https://github.com/twitter/finagle/issues/377

[2015-05-25 00:19] mosesn commented on #133
Thanks for the bug report, this has been fixed on the [develop branch][0] already.

[0]: https://github.com/twitter/util/commit/5b7d0d079581997d6dea433ba2e3fd30c82b9b46

[2015-05-25 00:19] #133 closed

[2015-06-02 04:24] StarWindMoonCloud opened #134 "Future "collect" does not stop if any of the futures fail?"
I'm wondering if there's any existing implementation of "collect" that do not stop if any of the futures fail (compared with https://github.com/twitter/util/blob/master/util-core/src/main/scala/com/twitter/util/Future.scala#L352)

The fact is that, we may query various backends asynchronously, but still keep serving even if some of the backends suffer.

[2015-06-02 04:37] sprsquish commented on #134
Check out select or collectToTry

[2015-06-02 04:40] vkostyukov commented on #134
I believe you can use [Future.collectToTry](https://github.com/twitter/util/blob/master/util-core/src/main/scala/com/twitter/util/Future.scala#L416-L417) for that.

Probably, [finaglers](https://groups.google.com/forum/#!forum/finaglers) is a better place to ask that sort of questions so other folks can easily find it.

[2015-06-02 04:58] StarWindMoonCloud commented on #134
Thank you for the quick response, question answered, and will try finaglers next time.

[2015-06-02 04:58] #134 closed

[2015-07-02 18:13] bbarker opened #136 "Charsets.scala not available in any maven repo?"
Hi All,

Sorry if I'm looking the wrong place; I've had no luck with `import com.twitter.io.Charsets` when importing packages from http://maven.twttr.com/, and indeed the date of the packages and the source jar files I downloaded seem to confirm the expectation.

It is, however, referenced in the Twitter Server docs:
https://twitter.github.io/twitter-server/

I don't think this is a show stopper b

[2015-07-02 18:28] travisbrown commented on #136
Recent versions of util are published to [Maven Central](http://central.maven.org/maven2/com/twitter/util-core_2.10/6.25.0/util-core_2.10-6.25.0.jar), not `maven.twttr.com`.

Only a handful of Twitter's open source JVM libraries (e.g. [Metrics](https://twitter.github.io/twitter-server/Features.html#metrics)) are now being published to `maven.twttr.com`, and it still exists only for a couple of fai

[2015-07-02 19:58] bbarker commented on #136
Aha, thanks! Just FYI, I did find one dependency that wasn't available on Maven Central: an old version of libthrift:

[code]

It seems to be in `maven.wttr.com`, however:
http://maven.twttr.com/org/apache/thrift/libthrift/0.5.0/

So I'll keep using it for the moment.

[2015-07-02 20:04] travisbrown commented on #136
@bbarker Yes, you'll need `maven.twttr.com` in your resolvers for that version of libthrift (as well as Metrics, if you're using that). We're taking steps toward updating libthrift internally, but don't have a definite timeline yet.

[2015-07-02 20:05] bbarker commented on #136
Thanks!

[2015-07-02 20:05] #136 closed

[2015-07-21 02:13] vkostyukov commented on #94
It's [3.4.6](https://github.com/twitter/util/blob/develop/project/Build.scala#L12) already, which is the current stable version. I think this might be closed.

[2015-07-21 02:13] #94 closed

[2015-07-21 02:20] vkostyukov commented on #118
This has been fixed by 32f16db.

[2015-07-21 02:20] #118 closed

[2015-07-21 02:23] vkostyukov commented on #107
Hey @evanj! Sorry for the long delay. Are you stil interested in submitting a PR?

[2015-07-21 02:43] vkostyukov commented on #89
I belive this should be closed since it's fixed in #90.

[2015-07-21 02:43] #89 closed

[2015-07-21 21:41] vkostyukov commented on #119
This has been fixed internally. It will show up on Github soon. Thanks @hgfischer for reporting!

[2015-07-21 21:41] #119 closed

[2015-07-21 21:42] vkostyukov commented on #74
This has been fixed internally (and will show up here soon). Thanks @ngocdaothanh!

[2015-07-21 21:42] #74 closed

[2015-07-21 21:45] vkostyukov commented on #120
Hi @hgfischer! Sorry for the delay. Do you mind submitting a PR?

[2015-07-21 21:48] vkostyukov commented on #72
Hi @MasseGuillaume! Sorry for the long response.

As for today, `com.twitter.util.Eval` is deprecated and we're not planning to enhance it.

[2015-07-21 21:48] #72 closed

[2015-07-21 21:56] vkostyukov commented on #29
Hi @mkonicek! Hope you're doing great: it's been three years since you filed this issue.

Anyways, I decided to let you know that we've deprecated `Eval` and not planning to improve it. Sorry for such a long delay.

[2015-07-21 21:56] #29 closed

[2015-07-21 22:00] vkostyukov commented on #71
Hi @btd! Thanks for submitting the issue!

As @stevegury mentioned, we're in the middle of deprecating (removing) `util-eval` so we're not going to improve it anyways. Thus, I think it's reasonble to close this issue.

PS: Feel free to open a PR with the fix: we're happy to accept it.

[2015-07-21 22:00] #71 closed

[2015-07-21 22:07] mkonicek commented on #29
Good to know @vkostyukov :)

[2015-07-21 22:19] vkostyukov commented on #60
@cacoco is it still a problem for you? Perhaps we can close this already. I'm not sure we are ever going to improve/bug-fix `util-eval` since it's nearly deprecated.

[2015-07-22 00:58] vkostyukov commented on #86
@mosesn do you think we can close this?

[2015-07-22 03:16] mosesn commented on #86
yep!

[2015-07-22 03:16] #86 closed

[2015-07-22 20:33] cacoco commented on #60
@vkostyukov we can close this -- I worked around the issue then and like you said, it's basically deprecated at this point.

[2015-07-22 20:33] #60 closed

[2015-07-23 01:04] vkostyukov commented on #42
Just double-checked it: not reproducialbe on 6.26.9. We can close it.

[2015-07-23 01:04] #42 closed

[2015-07-23 01:06] vkostyukov commented on #100
I believe it was fixed in https://github.com/twitter/util/commit/01bf9d03aa0fac6907a85fd66c3050a04e2f3c55. Perhaps the test case from the first comment works now. Should we close it?

[2015-07-26 22:29] evnm commented on #100
That's correct, @vkostyukov. I must've forgotten to close this ticket after merging the fix.

[2015-07-26 23:46] vkostyukov commented on #100
Thanks @evnm!

[2015-07-26 23:46] #100 closed

[2015-09-08 15:25] olix0r opened #138 "AsyncStream.scanLeft is not eagerly satisfied with initial value."
attn: @luciferous

When using `AsyncStream.scanLeft`, I expect the initial value, `z`, to be readable immediately.  It appears, however, that this value is not readable until the next value in the stream has been satisfied.

The docs lead me to believe that this is a bug:
[code]

When I construct a stream like:
[code]
I expect this stream to provide `init` immediately and then the following value

[2015-09-10 23:58] #138 closed

[2015-10-09 10:48] schrepfler opened #142 "Support for Reactive Streams on roadmap?"
Asking here as AsyncStream is in here. In recent news as reactive streams got finalised many frameworks jumped on board which means they can all share some common traits and interop capabilities. Wouldn't finagle also benefit from this?

[2015-10-09 16:52] mosesn commented on #142
@mariusae has been our liaison with the reactive streams work, so he would know better, but I think it sounds pretty reasonable.  Maybe it would make sense to provide a util-reactivestreams module with twitter bijections between AsyncStream and reactive streams?  Do you want to take a stab?

[2015-10-09 22:29] luciferous commented on #142
+1 to that. Though beneficial for Finagle, interop with reactive streams may be low priority for us.

[2015-11-11 00:13] ben-manes opened #147 "Caffeine cache (migrate from Guava)"
`util-cache` currently uses Guava, which is feature rich with modest performance. The Java 8 rewrite, [Caffeine](https://github.com/ben-manes/caffeine), has [higher performance](https://github.com/ben-manes/caffeine/wiki/Benchmarks) and a [better hit rate](https://github.com/ben-manes/caffeine/wiki/Efficiency). It uses an updated API and provides optional Guava adapters to simplify migration. As G

[2015-11-11 20:16] mosesn commented on #147
@ben-manes we can't use java 8 features yet, but when we do, maybe it would make sense to provide something like GuavaCache for caffeine?

[2015-11-11 20:42] ben-manes commented on #147
Sounds good. You might prefer using `AsyncLoadingCache` with [scala-java8-compat](https://github.com/scala/scala-java8-compat) for handling `Future[V]` values.

btw, I think [evict(key: K, f: Future[V])](https://github.com/twitter/util/blob/develop/util-cache/src/main/scala/com/twitter/cache/guava/GuavaCache.scala#L54) can use `asMap().remove(k, v)`.

[2015-11-11 21:54] mosesn commented on #147
good catch!  I wonder why I got that wrong before.  I'll fix it.

[2015-11-12 02:38] thefourtheye commented on #81
@mosesn Will there be no tutorial on how to use it? How does a beginner use it? Throwing scala-docs at them is exactly the same as giving nothing.

[2015-11-12 17:12] mosesn commented on #81
@thefourtheye unfortunately, we haven't had a chance to work on docs for util-zk.  However, a great way to contribute back to the community is to improve docs where you see that they could use some improvement!

[2015-11-12 19:01] thefourtheye commented on #81
I have written code by going through the util-zk code. Do you have specific doc system in mind or just readme.md? I can send in a PR sometime tomorrow or the day after.

[2015-11-12 23:27] mosesn commented on #81
I'd say either ReST or Markdown would both be great, whichever you prefer.  Let us know if you need any help from us :+1:

[2015-11-22 14:10] jacksu opened #149 "The project can't build,I hope it can,thanks"

[2015-11-22 14:14] jacksu commented on #149
sbt.ResolveException: unresolved dependency: com.twitter.common#io;0.0.67: not found

[2015-11-22 18:30] mosesn commented on #149
@jacksu can you check if you can access [maven.twttr.com][0]?  Looks like you live in Xi'an, some people have had problems with GFW China in the past, worth making sure you're not running into that.

[0]: https://maven.twttr.com/com/twitter/common/io/0.0.67/

[2015-12-22 14:26] lukiano opened #150 "Until-cache refresh behaviour"
Looking at refresh.every() method it seems that if a refresh fails, it evicts the promise, so that the next request forces a new call.
I think that if the refresh fails, its promise should return the old data instead of an exception, besides evicting the entry.

[2015-12-23 18:46] kevinoliver commented on #150
Might depend on what the user wants, hard for me to say. I think making this a policy seems reasonable though if you are interested in a PR.

[2015-12-25 22:34] mosesn commented on #150
@lukiano I agree that if you have this use case, we should make it a policy.  The argument for the existing implementation is that it tries to maximize correctness over latency.

[2015-12-27 08:24] lukiano commented on #150
I found an alternative via wrapping the refresh in an exponential retry. It'd be cool to share the Exponential Retry for Futures located in util-zk as another Future utility in the concurrent package of util-core. Thanks!

[2015-12-27 08:24] #150 closed

[2016-03-08 19:33] cchavez opened #152 "Object Serialization trhows: Caused by: java.io.NotSerializableException"
Hi All.

I'm compiling some dynamic class using com.twitter.util.Eval. There is some required and I need to serialize the object created from this dynamic compiled class, I'm using org.apache.commons.lang3.SerializationUtils, when I try to serialize the object it throws:

Exception in thread "main" org.apache.commons.lang3.SerializationException: java.io.NotSerializableException: Evaluator__84fd9b

[2016-03-08 20:00] kevinoliver commented on #152
Not answering your question directly and I don't know how good a job we've done of communicating this, but we are trying to EOL util-eval.

[2016-03-08 20:03] cchavez commented on #152
So, is going to be a replacement for that?

[2016-03-08 22:48] kevinoliver commented on #152
No plans for a replacement.

[2016-03-25 15:12] scf37 opened #157 "twitter Promise does not preserve order of callbacks"
Test code:

[code]

[2016-03-25 15:40] mosesn commented on #157
@scf37 right–I think the guarantee we provide is that if you have a data dependency (like if you were mapping iteratively over these callbacks) we will preserve order, but we have no such guarantee when you're hanging callbacks off of a single Future.

[2016-03-25 16:25] scf37 commented on #157
@mosesn Thanks for the explanation. What is the right way to implement something like that but keeping request order:

[code]

?

[2016-03-25 18:10] stuhood commented on #157
@scf37 : @mosesn left an example of how to do this in his response.

If there are no explicit data dependencies and you're doing this purely for sideeffect ordering, then you can use `before`... although it is intended for use with async effects:
[code]

[2016-03-30 15:54] thefourtheye opened #158 "util-zk: monitorTree not working"
I am using util-zk with Akka. When I receive a particular message I start watching a node, with this

[code]

To check if it is working, I added another child to that particular node immediately after start monitoring. But this function never gets called. I used both curator test's TestingServer also a real ZooKeeper server. What am I doing wrong?

I am using Ubuntu 14.04 in a Virtual Machine, uti

[2016-05-18 15:19] mosesn opened #162 "2.12-ification"
In order to support 2.12, we need to add crossScalaVersions to Build.scala, and make sure everything compiles.  Not every scala library will be built against the current snapshot, so we may have to support different versions from 2.11 to 2.12.  If part of an API has churned (scalacheck in particular is susceptible to this) we may need to upgrade the 2.11 library version to make progress.  If that

[2016-05-20 21:35] jeffreyolchovy commented on #162
I'll give this one a shot. Will report back with initial results.

[2016-05-20 22:18] jeffreyolchovy commented on #162
From a very high level, we're missing 2.12 artifacts for:
- `org.scalacheck#scalacheck`
- `org.scoverage#sbt-scoverage`

And the following dependencies have to be updated to retrieve a 2.12 artifact:
- `org.scalatest#scalatest` (2.2.4 to 2.2.6)

`sbt-scoverage` is an interesting case, as the offending `libraryDependencies` are injected via the plugin, which effects all modules. The sbt plugin itse

[2016-05-21 14:44] mosesn commented on #162
@jeffreyolchovy can we try using a different library version depending on the scala version?  and can we only enable scoverage for 2.11?

[2016-05-21 18:01] jeffreyolchovy commented on #162
@mosesn, yes I was able to do the former. I added the following to the `sharedSettings`:
[code]
That is pretty hacky, so I imagine there is a better way. I attempted to use the `cross` operator on `ModuleID`, but that only seems useful for dependencies that were specified without the `%%` upon declaration. Again, we don't have control over the declaration site of the dependencies since that happen

[2016-05-21 21:14] stuhood commented on #162
@jeffreyolchovy : Thanks for the patch!

The inference failure for `Witness` seems fairly fundamental... from what I can tell, the compiler is failing/refusing to infer `Any`, so the following edit works as well:
[code]

I wonder if this scalac-bug-worthy. Simple repro looks like:
[code]
[code]

[2016-05-21 22:01] jeffreyolchovy commented on #162
@stuhood, i like that, and it keeps it nice and concise too.

I'm not exactly sure if this is a scalac bug vs. an advertised-yet-difficult-for-me-to-understand change (http://scala-lang.org/news/2.12.0-M4/#sam-types -- click through to underlying issue #4971 for more info).

That's a bit over my head, but, as an aside, if `Witness.apply` wasn't overloaded, something as simple as `Witness(println)`

[2016-05-22 04:41] mosesn commented on #162
Ignoring the overloading case, I'm also not that familiar with what's going on here, but it smells to me like it's a bug that SAMs can be converted to functions correctly now, but placeholder syntax requires specifying the argument.  It smells like a regression in placeholder syntax to me.

For the overloading case you've described, this smells like a bug to me too.  Unlike `Comparator` in the sam

[2016-05-24 13:27] mosesn commented on #158
@thefourtheye sorry for the delay in getting back to you!  this looks right to me, can you reproduce it using our [test system][0]?

[0]: https://github.com/twitter/util/blob/develop/util-zk/src/test/scala/com/twitter/zk/ZkClientTest.scala#L697

[2016-05-24 13:28] #157 closed

[2016-05-24 13:29] mosesn commented on #147
We have an experimental version [here][0]!

[0]: https://github.com/twitter/util/commit/e0f47784341fd54324a4e8564818f21453cd7bd2

[2016-05-24 13:29] #147 closed

[2016-05-24 13:30] #149 closed

[2016-05-24 13:30] #152 closed

[2016-05-24 13:30] mosesn commented on #152
I'm closing this since we're trying to end of life `util-eval`.  If this is still a problem for you, please let us know!

[2016-05-24 13:33] mosesn commented on #130
@rightfold looks like there hasn't been an update in over a year, so I figure you're probably too busy to work on this?  I'm going to close this ticket for now, but feel free to reopen if you decide you're interested again.  As before, happy to help if you have any questions!

[2016-05-24 13:33] #130 closed

[2016-05-24 13:38] mosesn commented on #120
I think the idea here is that logging handlers are typically used for diagnostics and errors, and that we only want the actual output of a program (for example, if you wanted to implement curl with finagle, the content of the http response) to go to stdout.  I'm going to close this issue for now since it hasn't seen movement in a year and a half, but feel free to reopen if you want to continue dis

[2016-05-24 13:38] #120 closed

[2016-05-24 13:41] mosesn commented on #40
@alexeyr I agree that it makes sense to add a note in the scaladoc.  I'll add it internally and close this issue once I've done it.

[2016-05-24 13:50] mosesn commented on #47
@sritchie we eventually ended up doing this internally, but yeah, this is hard without moving to a newer version of thrift.  Not sure we have the bandwidth to do it now, but we'll look into it.  util doesn't have anything to do with thrift though (I think), so I'm closing this ticket for now.

[2016-05-24 13:50] #47 closed

[2016-05-24 13:52] mosesn commented on #82
@plainlystated I don't think we have made progress on either of these in over two years (!) so my guess is that this is no longer a problem for you.  I'm going to close this for now, but if someone has other feels about SyslogFormatter, please feel free to reopen!

[2016-05-24 13:52] #82 closed

[2016-05-24 13:54] mosesn commented on #98
Looks like @benfradet can't reproduce this issue in https://github.com/twitter/storehaus/issues/233, so I'm going to trust him and mark this as fixed.  Probably we fixed this by accident somewhere down the line =).

[2016-05-24 13:54] #98 closed

[2016-05-24 13:59] mosesn commented on #99
@jedws I assume that this is no longer a problem for you, since there hasn't been movement on this ticket in two years.  I think it works as expected for most of our users, since it's a daemon thread.  I'm going to close it for now, but please feel free to open it if you're still running into this problem.

[2016-05-24 13:59] #99 closed

[2016-05-24 14:02] mosesn commented on #107
We don't have the bandwidth for this now, and it seems like @evanj doesn't have the time to work on this anymore, but I think this is a solid starter issue for anyone who wants to get involved in the project.

[2016-05-24 14:05] mosesn commented on #142
This continues to be low priority for us, but we would welcome a PR to improve our interoperability.

[2016-05-24 19:26] schrepfler commented on #142
What would a proposed approach be? A set of isomorphisms like the Twitter Future <-> Scala Future or would it be good to have some design principle/generalisation document first? I think Reactive Streams/Rx might open some space in extending/generalising Finagle's Future/Service/Filter paradigm and without a seminal document like https://monkey.org/~marius/funsrv.pdf I think any development would

[2016-05-24 22:09] luciferous commented on #142
@schrepfler

I imagine scalaz has something similar to map between Tasks (or some streaming derivative of) and Reactive Streams. Let's start there.

The semantics should follow "ListT done right", only that our implementation uses a free monad with the monad specialized to Twitter's Future.

[2016-05-25 02:43] jedws commented on #99
It is not a problem for us as we stopped using it, partly due to this bug.

[2016-05-25 03:14] mosesn commented on #99
Ahh, too bad.  Good to know that util doesn't do well in a plugin environment, thanks for the feedback!

[2016-05-26 20:41] mosesn commented on #142
@schrepfler do you want to come up with a proposal?

[2016-05-26 23:09] schrepfler commented on #142
I don't think I'm best placed. Ideally it would be someone which understands well Twitter's Future but also Reactive Streams.

[2016-05-27 11:59] idarlington commented on #162
Hi, I am interested where can I start?

[2016-05-28 06:37] mosesn commented on #162
@jeffreyolchovy has started a branch, which you can take a look at at #163.  He hasn't mentioned `util-collection` as having problems, but if you're curious, you can check out his branch and try building it yourself.

I'm a little suspicious that `util-eval` will have problems, so it would be worth trying it out too.  Thanks @idarlington!

[2016-05-29 00:27] idarlington commented on #162
Ok thanks @mosesn , excited to be a part of this, hopefully my first PR.

[2016-05-29 01:13] jeffreyolchovy commented on #162
@idarlington please also see the corresponding PR https://github.com/twitter/util/pull/163 for more info.

[2016-05-29 02:16] jeffreyolchovy commented on #162
@mosesn @idarlington here is the output of `+test` for both `util-collection` and `util-eval`. All tests for both modules pass but maybe you'll find something else here that is suspicious regardless of the successful output:

`util-collection`
[code]

`util-eval`
[code]

[2016-05-29 03:03] mosesn commented on #162
LGTM

[2016-05-29 15:11] idarlington commented on #162
Hi @jeffreyolchovy , Checked out your branch and it compiles successfully.

[2016-05-29 15:13] mosesn commented on #162
@stuhood @jeffreyolchovy I filed https://issues.scala-lang.org/browse/SI-9796 to see if the scala folks can help figure out the type inference regression we found in Witness.  I think it somehow has to do with traits which have only one method–I think they might be compiled down to java functions under the hood.

[2016-05-29 15:17] mosesn commented on #162
@idarlington it looks like this issue is going to be easier than we thought it would be.  If you're still interested in getting involved in util, you can tackle https://github.com/twitter/util/issues/107, or if you're interested in helping with the finagle 2.12-support effort in general, ostrich and scrooge are the two next steps for getting 2.12 going!

[2016-05-29 22:51] jeffreyolchovy commented on #162
@idarlington you want to take ostrich, and i'll continue with scrooge?

[2016-05-30 03:20] mosesn commented on #162
@stuhood @jeffreyolchovy turned out I didn't understand what a SAM was.  Updatable is a SAM, which is why there's an inference problem.

[2016-05-31 17:32] idarlington commented on #162
Hi, sorry i don't get that @jeffreyolchovy what's wrong?  i thought it compiled successfully.

[2016-06-01 00:24] jeffreyolchovy commented on #162
@idarlington, nothing wrong, just seeing if you had interest in taking https://github.com/twitter/ostrich/issues/74. Very similar to this issue, just a different project (and it has `util` as a dependency).

[2016-06-01 08:38] idarlington commented on #162
ok cool, got it. I would take ostrich. Thanks @jeffreyolchovy

[2016-06-04 16:21] mosesn commented on #40
This was fixed here: https://github.com/twitter/util/commit/731175c269b52dd1e1238906c47ca05eaaed7306.  Thanks @alexeyr!

[2016-06-04 16:21] #40 closed

[2016-06-05 02:48] tacnoman opened #165 "There is a cache to my http request?"
Hello guys.

I want to make a cache in my http request (rest response).

There is an lib here to make this?

[2016-06-05 03:16] mosesn commented on #165
@tacnoman hi!  Welcome to util.  We have a library for making asynchronous caches, `util-cache`, which is documented [here][0].  Could you elaborate on the problem you're trying to solve?  `util-cache` works well with finagle, but if you're using a synchronous http client, it might not be the best fit.

[0]: https://github.com/twitter/util/tree/develop/util-cache

[2016-06-07 22:28] #162 closed

[2016-06-09 01:04] tacnoman commented on #165
Thanks! xD

[2016-06-09 01:04] #165 closed

[2016-06-27 00:57] mirokuratczyk commented on #107
This was resolved and should be closed: b3fe8f767ec5e5e2038e838d65c24f3ae78616cb 😄

[2016-06-27 04:36] mosesn commented on #107
@mirokuratczyk good point!  totally forgot he had already fixed it, thanks @evanj!

[2016-06-27 04:36] #107 closed

[2016-06-27 14:16] evanj commented on #107
Oh yeah me too. I think I filed this before I knew how anything worked at Twitter. Thanks!

[2016-08-07 02:31] adriancole opened #169 "Make GlobalFlags java accessible"
One line summary of the issue here.

### Expected behavior

As a java user, I should be able to define global flags naturally.

### Actual behavior

The lookup system for global flags requires them to be scalaesque classes (ex. with a `$` suffix). Also, the naming convention isn't natural in java.

### Steps to reproduce the behavior

Here's what I had to do to make a valid flag in java. It would

[2016-09-02 09:59] nilday opened #171 "Java 7 support needed"
I strongly suggest that the Twitter Util continuously support java 7, I don’t see a strong motivation of give up the support. On the other hand, there ’s so many companies which still use java 7 in production environment ,which is what I meet with, that I have to merge some bug fix and new feature to old release manually.

[2016-09-02 17:17] mosesn commented on #171
@nilday I'm sorry to hear that.  We've already made the decision to drop support for Java 7.  Java 7 reached its end of life over a year ago, and at some point we need to continue moving forward.  I know we're not the only library that has dropped support for Java 7, so it might be worth lobbying your company to start working on the Java 8 migration.

[2016-09-02 17:17] #171 closed

[2016-09-11 23:45] SethTisue opened #173 "fragile tests intermittently fail in Scala community build"
at https://scala-ci.typesafe.com/job/scala-2.11.x-jdk8-integrate-community-build/ you'll see a run of red failed test runs 216–220. sometimes com.twitter.util.FuturePoolTest fails, sometimes it's com.twitter.finagle.stats.CumulativeGaugeTest

I haven't looked at the tests in question — perhaps they just need longer timeouts?

[2016-09-12 14:43] mosesn commented on #173
@SethTisue can you set `SKIP_FLAKY`?  We use that when we don't think the tests will be reliable in a [ci environment][0], like tests that check what happens after we trigger a garbage collection.  Not sure what's going on with FuturePoolTest though, we haven't seen that before.

How did you start running into this?  Did you just start running tests for util?

[0]: https://github.com/twitter/util/

[2016-09-12 15:35] SethTisue commented on #173
nothing has changed at our end recently, except perhaps heavier server load. I will set `SKIP_FLAKY`

[2016-09-14 22:05] mosesn commented on #173
@SethTisue we dug into the FuturePoolTest and figured out the problem, should be open sourced Monday.  is the CumulativeGaugeTest better now?

[2016-09-14 22:19] SethTisue commented on #173
awesome

I believe we're now successfully skipping it with `SKIP_FLAKY`

[2016-09-19 23:39] kevinoliver commented on #173
Ok the `FuturePoolTest` fix went in with https://github.com/twitter/util/commit/4a939764c58784aeddc14878cb287ba1343bfa1d so we should be good here. Thanks @SethTisue.

[2016-09-19 23:39] #173 closed

[2016-09-19 23:41] kevinoliver commented on #126
Closing this as there hasn't been any interest. Should anyone get excited about it in the future, we can reopen it.

[2016-09-19 23:41] #126 closed

[2016-09-20 20:24] SethTisue opened #174 "publish for Scala 2.12.0-RC1?"
perhaps useful, Adriaan's changes to make it work in the Scala 2.12 community build:
- https://github.com/adriaanm/util/commit/17625f46400dcc3b777168e47b8244f932372794
- https://github.com/adriaanm/util/commit/2bb041a2a3bf9086066d52df3ee954c45c7c2d8b

[2016-09-20 20:28] kevinoliver commented on #174
Thanks @SethTisue. I'll see about getting those patches incorporated.

[2016-09-20 23:17] kevinoliver commented on #174
Ok so https://github.com/adriaanm/util/commit/17625f46400dcc3b777168e47b8244f932372794 got sorted out in https://github.com/twitter/util/commit/90f218014dfbd85bf3d7b91246dee98cfda01161

And a patch for https://github.com/adriaanm/util/commit/2bb041a2a3bf9086066d52df3ee954c45c7c2d8b is on its way.

Thanks again for the heads up.

[2016-09-21 17:21] kevinoliver commented on #174
Cool. The fix for https://github.com/adriaanm/util/commit/2bb041a2a3bf9086066d52df3ee954c45c7c2d8b just got merged internally and will get pushed to the `develop` branch this Monday. Thanks again.

[2016-09-22 22:53] kevinoliver commented on #169
Ok. Yeah not too Java friendly :(

Unfortunately, the code has some pretty deep-set leanings about GlobalFlag classnames and such so there is only so much we can do.

I've got a branch up for review that, if you follow a few rules, lets you create first class GlobalFlags in Java. Here's an example:

[code]

and another without a default:
[code]

Usage of the flag isn't too bad:
[code]

Hopefully t

[2016-09-26 22:49] kevinoliver commented on #169
Merged in df5c310ebfe356b407c13cc7b7b04e4cd53cdced

[2016-09-26 22:49] #169 closed

[2016-09-26 23:01] SethTisue commented on #174
the Scala 2.12 community build now tracks your develop branch, as of https://github.com/scala/community-builds/pull/307

you might still like to publish artifacts for 2.12.0-RC1?

[2016-09-27 00:04] adriancole commented on #169
Cool will give it a spin

[2016-09-27 00:15] kevinoliver commented on #174
thanks!

@mosesn, looks like we should move to 2.12.0-RC1

[2016-09-27 04:54] mosesn commented on #174
👍  yeah, I'm hoping to get to it next week.  tried a couple weeks ago but some of our deps weren't publishing for it yet.

[2016-10-04 00:29] mosesn commented on #174
@SethTisue jsyk, right now we're blocked on upgrading scalatest to 3.x internally, since it looks like they've stopped publishing 2.x versions for 2.12.  If the migration is painful, we might lobby scalatest to temporarily start publishing 2.x versions again.

[2016-10-05 20:53] malikvivek opened #176 "FileHandler Log File Size"
FileHandler sets log file size to 0 every-time application restarts or is deployed, even if the log file exists.

### Expected behavior

If the log file exists from previous execution, FileHandler should pick the size of the log file, whatever it is; else set it to 0.

### Actual behavior

If the application log is set to roll over at 1 MB, and the application is restarted when the log file reache

[2016-10-18 20:54] ryanoneill commented on #176
Hi @malikvivek, I'm going to close this issue since your pull request has been synced back to GitHub. Thank you for the contribution.

[2016-10-18 20:54] #176 closed

[2016-10-24 22:07] SethTisue opened #180 "AppTest consistently failing in Scala (2.11, JDK8) community build"
https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-jdk8-integrate-community-build/ shows jobs 248, 249, 250, 251 all failing in AppTest

there are too many projects in the community build for me to investigate most individual failures, but the error logs are all there at the link

maybe it's spurious somehow... or.... we have merged some PRs for Scala 2.11.9 recently, so it's not imp

[2016-10-24 23:12] SethTisue commented on #180
for now, to make the community build green again I will disable compiling and running of tests in your util-app subproject

[2016-10-24 23:20] SethTisue commented on #180
util-logging is affected as well:

[code]

[2016-10-26 16:47] bryce-anderson commented on #180
Hi @SethTisue. This seems to be building/testing fine with the nightly version you've provided on my end. I think this was fixed recently by this commit: https://github.com/twitter/util/commit/3bbf6c936b04fe8b8f930137cf929c38b6618aa5. I can't tell for sure, but it looks like you're using the source for twitter-util 6.38 which didn't include that patch.
Do you need anything from our end?

[2016-10-26 18:10] SethTisue commented on #180
ah, we were using the `develop` branch in our 2.12 community build, but our 2.11.x-jdk8 build was using your `master` branch, which doesn't have the fix yet

using `develop` in the 2.12 one has been smooth sailing in recent months, so I'll provisionally change the 2.11.x-jdk8 one to use it as well

thanks!

[2016-10-26 18:10] #180 closed

[2016-10-31 17:41] SethTisue commented on #174
that might be easier now that Scala 2.12.0 JARs are on Maven Central

[2016-10-31 18:13] SethTisue opened #181 "ReaderTest failure in Scala 2.11.x community build"
spotted recently at https://scala-ci.typesafe.com/job/scala-2.11.x-jdk8-integrate-community-build/267/consoleFull and and https://scala-ci.typesafe.com/job/scala-2.11.x-jdk8-integrate-community-build/268/consoleFull

[code]

note that we have been merging PRs onto the 2.11.x branch lately in preparation for 2.11.9

[2016-10-31 18:22] SethTisue commented on #181
hmm, I hit "rebuild" again and it passed: https://scala-ci.typesafe.com/job/scala-2.11.x-jdk8-integrate-community-build/269/consoleFull

perhaps the test is flaky...?

[2016-10-31 20:38] stuhood commented on #174
We've leaned in on the scalatest `3.x` upgrade, and are nearly finished there. Possibly this week.

[2016-11-01 18:33] kevinoliver commented on #181
@SethTisue I see a bug in that test that would cause it to be flaky.

I'll get it patched.

Thanks for the report!

[2016-11-01 20:30] kevinoliver commented on #181
Alright, this got fixed internally and will land in this coming Monday's code push. Thanks again @SethTisue.

[2016-11-01 20:30] #181 closed

[2016-11-04 19:10] spockz commented on #162
Any ideas on when a 2.12 version of twitter-util will be released?

[2016-11-04 19:38] mosesn commented on #162
@spockz we're blocked on migrating to scalatest 3.x since they stopped publishing scalatest 2.x for 2.12.x.  We'll start publishing for 2.12.0 once we've switched.  My guess (not a promise) is that we'll first publish for 2.12.0 in early December.

[2016-11-04 21:46] spockz commented on #162
@mosesn thanks for the update!

[2016-11-09 10:38] jvican commented on #174
Looking forward to the release of twitter/util for 2.12.0.

[2016-11-11 23:39] kevinoliver commented on #174
@jcrossley and others have been working on this and it looks like it should be ready real soon now.

[2016-11-17 00:27] SethTisue commented on #174
over at https://github.com/scala/community-builds/pull/399 I'm seeing

[code]

[2016-11-17 19:13] mosesn commented on #174
@SethTisue we haven't changed anything in Config in a very long time, so I'm a little suspicious.

[2016-11-17 20:05] SethTisue commented on #174
well, it's on 2.12?

[2016-11-17 20:08] SethTisue commented on #174
the specific nightly used was `2.12.1-371bc2c-nightly`. if you want to try it yourself locally, http://stackoverflow.com/q/40622878/86485

[2016-11-18 00:23] vkostyukov commented on #174
@SethTisue @mosesn I'll look into that. Let me try to reproduce that locally first.

[2016-12-01 22:45] kevinoliver commented on #174
ok i can reproduce this locally. added this to `Build.scala`:
[code]

And then run:
[code]

[2016-12-05 17:41] kevinoliver commented on #174
@SethTisue i merged a workaround and hopefully that fixes it.

i didn't spend long digging into the difference in the generated code between 2.11, as this `Config.missingValues` code is deprecated and not well maintained. hoping we can remove it in the not too distant future.

[2016-12-05 17:41] #174 closed

[2016-12-17 18:24] olix0r opened #184 "Published artifacts reference fictitious packages"
The published util artifacts reference non-existent packages.

For instance, [util-zk-common](https://oss.sonatype.org/content/repositories/releases/com/twitter/util-zk-common_2.11/6.39.0/util-zk-common_2.11-6.39.0.pom)

[code]

`finagle-core-java` is not a real package.

This causes gradle (as reported by a linkerd user) to fail.

In sbt, I see:
[code]
Note: this is against the prior version, but

[2016-12-17 18:35] dlaidlaw commented on #184
Adding information: gradle dependency tree. Search for FAILED in the tree.

Repositories referenced:

    repositories {
    	mavenLocal()
    	mavenCentral()
    	maven { url 'http://maven.twttr.com' }
    }

[code]

[2016-12-17 18:47] olix0r commented on #184
The commonality here seems to be that these are all touching `com.twitter.common.zookeeper` -- so something is off in the packaging of those libraries, perhaps?

[2016-12-17 19:19] olix0r commented on #184
Oh, now I see that the com.twitter.common.zookeeper packages actually have this dependency.  For instance https://oss.sonatype.org/content/repositories/releases/com/twitter/common/zookeeper/client/0.0.81/client-0.0.81.pom:
[code]

(And I now see that the [prior version](https://oss.sonatype.org/content/repositories/releases/com/twitter/common/zookeeper/client/0.0.80/client-0.0.80.pom) had the inva

[2016-12-18 03:21] mosesn commented on #184
@olix0r as you have probably guessed, the modules are internal to twitter.  For various reasons, it isn't easy for us to open source them or publish them, but they have the same APIs as the open source ones, so it should be safe to follow the exclude properly.

[2016-12-18 17:19] dlaidlaw commented on #184
Excluding the commons zookeeper with gradle:

    configurations {
	    compile.exclude module: 'com.twitter.common.zookeeper'
    }

Solves the failed dependencies, and everything seems to work fine without any of those artifacts.

[2016-12-19 22:01] devshorts commented on #125
@mariusae since util-logging is being deprecated, is there any suggestion to leverage the logging toggles found in twitter-server to route to slf4j?  Frameworks like finatra are pushing logback+slf4j (which is great) but the integration into the twitter server stack is weird

[2016-12-19 22:42] taylorleese commented on #125
@devshorts We're actually working internally on a proposal to move Twitter Server to SLF4J so that's our current tentative plan. @cacoco is working on this so mentioning him here in case he wants to expand on what I've mentioned.

[2016-12-21 16:34] olix0r commented on #184
I suppose we may not be able to fix this one, but it seems broken that the public commons packages have dependencies on private packages -- these artifacts simply _can't_ be consumed without knowing that these exclusions are necessary and safe (which is only really made clear, afaict, from reading finagle's POMs).

[2016-12-21 17:20] mosesn commented on #184
@olix0r which I think most build tools do automatically?  maybe it's worth trying to patch gradle.  in the mean time, we agree that it's broken, and we're working on fixing it.

[2017-02-26 21:42] SethTisue opened #185 "JsonTunableMapperTest failing"
seen in Scala 2.12 community build (at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1288/consoleFull), but also reproducible locally just by checking out the `develop` branch and doing `++2.12.1` and `testOnly *JsonTunableMapperTest*`

[code]

[2017-02-27 18:40] jcrossley commented on #185
Hi Seth! We're in  the process of fixing this, thanks! Note that this should only be an issue on the develop, not release branch.

[2017-02-27 21:06] jcrossley commented on #185
All fixed: https://github.com/twitter/util/tree/develop

[2017-02-27 21:06] #185 closed

[2017-02-28 01:15] SethTisue commented on #185
green again at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1291/ 👍

[2017-03-30 15:16] mosesn commented on #184
@olix0r we've stopped depending on commons internally for util, so this will be fixed in the next release.  closing this ticket for now, please reopen if you see problems again.

[2017-03-30 15:16] #184 closed

[2017-05-31 00:00] nmurthy opened #193 "TunableMap not usable outside of twitter organization"
Using `StandardTunableMap` in projects in a namespace outside of `com.twitter` isn't possible (I think).

I'm trying to use tunable parameters in a project which inherits from `TwitterServer`, but as my namespace is `com.zenreach`, I'm not able to access any of the parameters (via `TunableMap.Key[T]` or instantiate a `StandardTunableMap`. I believe it's because the classes are marked as `protected

[2017-05-31 14:34] jcrossley commented on #193
Hi @nmurthy, Tunables are in the experimental phase right now, but we'll definitely be making the API public in the future! That said, I'm not sure that Tunables are what you're looking for here; are you wanting to change backend stores at runtime? Could you clarify what you're trying to do? Tunables don't have a flatMap function.

[2017-06-02 21:08] nmurthy commented on #193
Err well yeah I messed up that example. I'm basically trying to be able to hot reload stores at runtime via the Twitter-Server admin endpoints. I'm assuming that if I have a no arg constructor for the types in question, it can probably work?

And I meant to map/flatMap the result of the Tunable[Store], assuming it was Option-Iikeb

[2017-06-02 21:14] mosesn commented on #193
@nmurthy hmm, I don't think Tunable is exactly what you want.  I think you're probably better off just adding a new admin endpoint instead of trying to reuse the Tunable admin endpoint, which is really for adjusting configuration values.  Do you think that would solve your problem?

[2017-06-04 01:59] nmurthy commented on #193
@mosesn I think you're right. I'm going to go that route. Out of curiosity though, what's an example of a typical usage scenario of a Tunable if not to be able to dynamically change configuration values?

Either way though, I do think that it would be a useful change to make Tunable and TunableMap.Key not `protected [twitter]` if you intend them to be used directly in the future.

[2017-06-05 15:33] mosesn commented on #193
@nmurthy we might have a different idea of what "changing a configuration value" means.  We mean something like, "let's adjust this timeout from 100 milliseconds to 200 milliseconds", instead of "trigger some application logic to do something different".  So we're passing a number to a timeout that's different, but not making anything too thrilling happen in the program.

It sounds like you've sol

[2017-06-05 15:33] #193 closed

[2017-08-12 05:45] adleong opened #195 "AsyncStream.scanLeft is one element behind"
AsyncStream.scanLeft is one element behind when the original AsyncStream is an Embed.

Consider the snippet:

[code]

### Expected behavior

"" should be printed as soon as the scanLeft is called.  "one" should be printed when "one" is written.  "onetwo" should be printed when "two" is written.  "onetwothree" should be printed when "three" is written.

### Actual behavior

The resulting AsyncStrea

[2017-08-14 13:52] mejran commented on #195
I was thinking of how to solve this issue, I hit it when creating a pull request for linkerd, and this comes to mind as a replacement for the current scanLeft:

[code]

If this makes sense as an approach then I'll create a pull request in the next few days.

[2017-08-14 16:24] adleong commented on #195
I was also thinking about this and wondering if something like this would fix it:

[code]

[2017-08-15 14:31] SethTisue opened #196 "X509TrustManagerFactoryTest failing in Scala 2.12 community build"
at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1805/consoleFull we see:

[code]

details:

[code]

[2017-08-15 17:22] kevinoliver commented on #196
thanks for the report. it also failed in travis ci and our internal ci. apologies for the break.

[2017-08-15 17:28] ryanoneill commented on #196
Thanks @SethTisue. It appears that the certificates that we generated to test this code have since expired. I will generate some new ones that don't expire for 10 years so that this doesn't happen again.

[2017-08-15 19:14] kevinoliver commented on #195
interesting find, thanks @mejran and @adleong.

shouldn't the first value printed by `foreach` be the initial value passed into `scanLeft`. `scanLeft` is documented as:
[code]

given that, i think @mejran's proposed solution looks correct.

[2017-08-15 21:13] ryanoneill commented on #196
This should be fixed now.

[2017-08-15 21:49] SethTisue commented on #196
https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1807/consoleFull:

[code]

thanks!

[2017-08-15 21:49] #196 closed

[2017-08-16 03:07] mejran commented on #195
I believe adleong's approach is functionally identical to mine. Both approaches output the first value that's passed in for all cases. adleong's takes advantage of that fact and just strips it back out of any nested calls from Embed so that's it not outputed multiple times. Mine never appends it in the first place for nested calls. I suppose there's more overhead in adleong's code since elements a

[2017-08-16 17:12] kevinoliver commented on #195
@mejran a PR would be great. thanks!

[2017-08-18 20:28] adleong opened #198 "Future.sleep completes immediately for large values"
[code]

### Expected behavior

`Future.sleep(Duration.Top)` should return a future that never completes.  Similarly, calling `Future.sleep` with very large durations should return futures that take a very long time to complete.

### Actual behavior

`Future.sleep(Duration.Top)` returns a future that completes immediately.  `Future.sleep(7720300000000L.millis)` returns a future that completes immed

[2017-08-18 20:46] kevinoliver commented on #198
Yeah, that sure looks like a bug.

What `Timer` are you passing into `Future.sleep`?

[2017-08-18 20:58] adleong commented on #198
`com.twitter.finagle.util.DefaultTimer`

[2017-08-18 21:59] kevinoliver commented on #198
`DefaultTimer` is service loaded. Do you have finagle-netty4 on your classpath?

[2017-08-18 22:03] vkostyukov commented on #198
@adleong You can call `DefaultTimer.toString` in scala repl to figure out which one was loaded.

[2017-08-18 22:09] adleong commented on #198
Ah right, `"DefaultTimer(Netty4Timer)"`

[2017-08-18 23:19] kevinoliver commented on #198
hmm i am unable to reproduce this. added this test case in [finagle-netty4](https://github.com/twitter/finagle/blob/develop/finagle-netty4/src/test/scala/com/twitter/finagle/netty4/util/Netty4TimerTest.scala) and it passes.

[code]

did a brief examination of the code and it looked ok to me.

[2017-08-18 23:36] adleong commented on #198
Here is the full ammonite script I used to repro:

[code]

and the output:

[code]

[2017-08-18 23:37] adleong commented on #198
Interestingly, if I try to depend on finagle-core instead of finagle-http I get this output instead:

[code]

so it definitely seems dependent on the timer.

[2017-08-19 00:05] vkostyukov commented on #198
I think we should've never scheduled a timer task in case of `Duration.Top` in the first place (that would be a good fix).

As far as the explanation goes, it's easy as long overflow that happens [here in the N4 timer](https://github.com/netty/netty/blob/3f20b8adee1d86285acc508308c07d67b36c1fc6/common/src/main/java/io/netty/util/HashedWheelTimer.java#L398). Basically, `unit.toNanos(delay)` is `Lon

[2017-08-19 00:05] kevinoliver commented on #198
interesting. i see the issue — it can overflow a long inside of Netty's `HashedWheelTimer`.

https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/HashedWheelTimer.java#L421

and it i didn't reproduce because it depends on when the timer's first task was run (`startTime`).

[2017-08-19 02:57] vkostyukov commented on #198
@adleong Any chance you want to contribute a fix (like checking if `howLong == Duration.Top` and returning `Future.never`)?

[2017-08-21 16:58] devshorts opened #200 "Java interop with finagle 7 emits "malformed variable arity method: addGauge$""
In working to update finagle zipkin to finagle 7 (https://github.com/openzipkin/zipkin-finagle/pull/35) we are seeing that the compiler complains about a malformed variable arity method: addGauge$

### Expected behavior

Compilation succeeds

### Actual behavior

Compilation fails

### Steps to reproduce the behavior

The project in the PR easily reproduces the issue by just accessing ```import co

[2017-08-21 17:56] adleong commented on #198
I'm on vacation this week but I'll try to put together a PR next week when I'm back.  Should we also guard against durations that would overflow long?

[2017-08-21 18:49] kevinoliver commented on #198
i think checking in `Future.sleep` is more like an optimization rather than a fix.

the fix feels to me like it belongs in `Netty4Timer` as it is specific to that implementation.

[2017-08-21 21:45] vkostyukov commented on #200
Thanks @devshorts!

I downloaded the util-stats-7.0.0 package for 2.12 and checked it against `javap`. Indeed there is a static `addGauge$` method there: https://gist.github.com/vkostyukov/1ac96e29684c7345bd16d2db59c1d732

I honestly no idea why

1) scalac generated that static forwarder
2) javac isn't happy about it

Will keep digging.

[2017-08-21 22:46] vkostyukov commented on #200
FWIW, I can reproduce it on my end (by pulling in that zipkin-finagle PR).

To be frank, this "class file contains malformed variable arity method" is quite a surprise to me - I've never seen anything like that before so the rest of the internet (try googling it). I wonder if it's somehow only specific to zipkin-finagle. We should try creating an empty Java (maven) project from scratch that refere

[2017-08-21 23:41] vkostyukov commented on #200
I'm getting somewhere. These `$`-prefixed methods are coming from Scala 2.12. Here is the relevant piece of SR compiled against 2.11.11:

[code]

Here is the same, but for Scala 2.12.1:

[code]

@kevinoliver pointed out that this could be related to 58c1d00679d23d6210be3f71e20739192545552b so var-arg isn't in the final position now. yet we have a Java compilation test that compiles perfectly with

[2017-08-21 23:44] devshorts commented on #200
@vkostyukov haha yeah, this one was ungoogleable, I tried too :).   Glad to see you're making progress, I was trying to get maven based java sample to replicate it too and having kind of a hard time

[2017-09-01 18:22] vkostyukov commented on #200
We hope this should be fixed by 7e5024bd42327e6acae7954ac9b212b5ed51610d. We're cutting a new Finagle/Util release quite soon so you can upgrade directly to 7.1.

Thanks @devshorts for filing an issue!

[2017-09-01 18:22] #200 closed

[2017-09-01 18:26] vkostyukov commented on #198
I agree with Kevin. Maybe make two separate commits:

- Optimization for `Future.sleep`
- Fixes for `Netty4Timer`

@adleong Let us know which one (or maybe both?) do you want to work on.

[2017-09-06 19:38] EugenCepoi commented on #29
Is there any recommended replacement for Eval? More precisely if one wants to compile src code to an output file?

[2017-09-06 20:15] kevinoliver commented on #29
@EugenCepoi there must be better suggestions than this, but you could fork util-eval from before we removed it and then use that.

[2017-09-06 20:33] EugenCepoi commented on #29
Hehe indeed though that's something I'd rather avoid :) So when the library got deprecated it wasn't in favor of a better alternative? It seems that I could directly use scala.tools.nsc.Global to achieve what I want, but in the end that's what util-eval was doing.

[2017-09-07 16:16] kevinoliver commented on #29
Right. It was being primarily used for configuration at Twitter and we felt there were ample other means to do configuration without compiling Scala.

[2017-09-08 21:39] adleong commented on #198
After thinking about this some more, I think it really needs to be fixed in HashedWheelTimer, not in Netty4Timer.  The allowable range of times that can be scheduled without overflow depends on the timer's startTime which is internal to HashedWheelTimer.

I'm happy to put together the optimization for Future.Sleep though.

[2017-09-08 22:00] adleong commented on #198
https://github.com/twitter/util/pull/201

[2017-09-08 22:07] kevinoliver commented on #198
i suspect we could do a good job of mitigating it, but that makes sense.

and if you file something with netty, do let us know.

[2017-09-11 22:33] vkostyukov commented on #198
Fixed in #201.

[2017-09-11 22:33] #198 closed

[2017-09-18 16:36] kevinoliver commented on #195
This got fixed by https://github.com/twitter/util/pull/197
Thanks again for the patch.

[2017-09-18 16:36] #195 closed

[2017-10-27 01:26] cacoco commented on #125
Merged in c458b88161f56768d0226c8419424f8365574b83. Released in https://github.com/twitter/twitter-server/releases/tag/twitter-server-17.10.0.

[2017-11-19 03:59] posa88 opened #206 "[util-logging]Old stream is not closed after logrotate move the file and send SigHUP."
log file is move to a.log-20171119%H1511062801 and new file(a.log) is writing by the program, but a.log-20171119%H1511062801 is still writing and not closed. Every  record is written twice, one in a.log, another in a.log-20171119%H1511062801.
### Expected behavior
Only write to the new log file(a.log) and close the old one.

As concisely as possible, describe the expected behavior.
logrotate rotat

[2017-11-19 04:28] posa88 commented on #206
[code]
such commands can also reproduce the behavior

[2017-11-19 06:12] #206 closed

[2017-11-19 06:14] posa88 commented on #206
I finally find out that it's a concurrent issue, I ran several thread and created several instance.

[2018-01-12 19:49] rquinlivan opened #207 "Is there a ZooKeeper recursive path create function utils?"
Hello,

I am working with the `ZkAsyncSemaphore` under zk-utils and I found that I need to pre-create the znodes in ZooKeeper or an exception will be thrown. Is there a defined utility function to do this? I found one in the commons library but it uses an older client.

Thanks

[2018-01-16 22:02] ryanoneill commented on #207
Hi @rquinlivan,

It appears that we no longer use `ZkAsyncSemaphore` in our code internally. It's quite possible that this code has grown stale as we've updated versions of Zookeeper.

And, I just tried manually using `ZkAsyncSemaphore` via the repl and running the tests with an instance of Zookeeper via the "com.twitter.zk.TEST_CONNECT" system property, and both failed in the exact method that yo

[2018-01-17 18:56] ryanoneill commented on #207
@rquinlivan, is this something you would be interested in fixing via a pull request?

[2018-03-10 15:24] frgomes opened #210 "Refactor Flags out of App.scala"
``App`` is opinionated in regards to command line parsing. Whilst this behavior is OK in the vast majority of use cases, there are circumstances where some more sophisticated command line parsing is desirable.

This issue is about allowing the developer choose whatever command line parser he/she wishes and finds more convenient for his/her requirements, instead of being locked into the way ``App``

[2018-03-10 15:30] frgomes commented on #210
In my codebase I've "derived" ``AppLike`` from the original ``App`` like shown below.
I'm providing this code as a suggestion only. You guys are better skilled than me to decide whether such thing is acceptable and/or desirable.

[code]

This is an usage case in my codebase:
[code]

[2018-03-15 18:36] kevinoliver commented on #210
i get what you are going after.

i have an idea that would be a far smaller change, but may still get you what you want.

something like this. you'd add this to `App`:
[code]

and call it from `nonExitingMain`.

then your App implementation can do whatever it likes in terms of command line parsing (or none as it may be).

[2018-03-28 00:04] smlance commented on #210
If I understand correctly, I think @kevinoliver's suggestion is pretty slick. Do you think this would suit your needs, @frgomes? If so, would you like to submit a PR? If you don't think you'll have time then one of us can merge this internally.

[2018-03-28 19:34] robfig opened #211 "CPU Profile not parseable by pprof"
Latest pprof can not parse the output of the com.twitter.jvm.CpuProfile class, most likely because CpuProfile produces a legacy profile that became unsupported when pprof was reimplemented in Go.

# Actual Behavior

With pprof from "go get -u github.com/google/pprof" at a74ae6fb3cd7047c79272e3ea0814b08154a2d3c and running on Mac OS El Capitan, I produced a profile from my server that looks like th

[2018-03-29 15:43] kevinoliver commented on #211
Ooof. I don't think we'd want to take a dependency on protobuf for this functionality. Perhaps that dependency could be added in a separate module that you'd have to opt into.

I'm open to other ideas on getting this addressed.

We haven't probably haven't noticed this because internally at Twitter we've been using a combination of `perf` and [Async Profiler](https://github.com/jvm-profiling-tools

[2018-03-29 16:10] robfig commented on #211
Interesting, I haven't seen that before. Thanks for the link. The pprof model seems very attractive to me because our engineers don't have ssh access to production which seems to be required for all the usual Java profiling tools; having the profiles exported over HTTP makes that easy.

In terms of taking a dependency: copy-and-pasting the .proto file or even the generated code would probably be f

[2018-03-29 16:19] kevinoliver commented on #211
Using the generated code seems like it's worth a look. Depends on what it's dependencies look like.

As for using those tools — you don't need to have ssh access. You can add a TwitterServer admin page (just like [/admin/pprof/profile](https://twitter.github.io/twitter-server/Admin.html#admin-pprof-profile) that does the work for you. For example, our perf page does this and generates the flamegra

[2018-03-29 16:33] robfig commented on #211
Oh, you are correct, you would need a runtime dependency on protobuf.

That's a good point, although seems more work intensive. pprof comes with a local web server that provides source listing annotated with cpu samples/heap allocations, SVG, and flame graphs. I guess we'd need a Java implementation of each of those views for parity, based on the data from async profiler. At least something basic

[2018-03-29 16:33] #211 closed

[2018-04-03 17:35] caplan opened #212 "`GlobalFlag.getAll()` fails to validate flags defined within a package object."
`GlobalFlag.getAll()` fails to validate flags defined within a package object.

This seems to be caused by improper parsing of the `$` delimiters in class names - a global flag `flag` within a package object `packageObject` is represented as `packageObject.package$flag$`, while the `GlobalFlag.getAll()` assumes `packageObject.package$flag` (no trailing `$`).

I can go ahead and submit a pr for thi

[2018-04-05 16:57] kevinoliver commented on #212
Thanks. This is partially why we suggest defining global flags outside of any object or package. That said, I think we should fix this and a PR would be great.

[2018-04-05 18:08] mariusae commented on #211
fwiw, they didn't want this dependency in Go, either, and just wrote manual code to encode the profiles. it's not too bad.

[2018-04-05 20:35] frgomes commented on #210
@smlance : I'm sorry for the long silence. I'm going to work on this matter in the next few days. Thanks.

[2018-04-06 11:56] robfig commented on #211
Ref: https://go.googlesource.com/go/+/master/src/runtime/pprof/proto.go

[2018-04-06 19:09] adleong opened #213 "Crash on OpenJ9 JVM"
When Finagle is used with the OpenJ9 JVM, it crashes with a `java.lang.UnsatisfiedLinkError`.

### Expected behavior

When running on a non-Hotspot JVM, I would expect JVM stats to be unavailable, but things should otherwise work normally.

### Actual behavior

When starting a Finagle application on OpenJ9, I get this stack trace:

[code]

I believe that the offending code is in Jvm.scala:

[code]

[2018-04-09 15:00] rquinlivan commented on #207
Sure I will put a PR together

[2018-04-09 17:48] kevinoliver commented on #213
Thanks @adleong — interested in putting up a PR?

[2018-04-10 21:58] adleong commented on #213
I'd be happy to put up a PR that mitigates this by falling back to NilJvm.  A full implementing of the Jvm trait for OpenJ9 would be ideal, but that's a much larger chunk of work.

[2018-04-11 18:37] kevinoliver commented on #213
Yeah, sgtm.

[2018-05-04 13:06] SethTisue opened #214 "ScalaCheck 1.14.0 upgrade fails compilation"
I am upgrading the Scala 2.12 community build to use ScalaCheck 1.14.0 (https://github.com/scala/community-builds/pull/718)

doing so uncovered the following source incompatibility, reproducible outside dbuild by bumping the ScalaCheck version number in `build.sbt` in this repo and running `test:compile`:

[code]

for now, in the community build, I will disable the compiling & running of your test

[2018-05-22 22:08] ryanoneill commented on #214
Thanks for letting us know @SethTisue. We'll address this as soon as we can. We are using 1.13.4 internally at Twitter. So if we can't write code that can work for both 1.13.4 and 1.14.0, it might be a bit.

[2018-06-11 18:19] #214 closed

[2018-06-11 22:52] SethTisue commented on #214
tests re-enabled in community build: scala/community-builds@a0484294680c7b24d04dab68b5a0f41b496f7e64

[2018-06-12 16:31] IrimieBogdan opened #217 "ZkClient thread safety"
We are experiencing issues with ZkClient in a multi threaded environment.  We are using `monitorTree()` and `getData.monitor()` to track changes in ZK structure. If we are reading data from zookeeper and at the same time the monitor is triggered, the client blocks.

Is the ZkClient thread safe?

[2018-06-14 20:34] cacoco commented on #210
@frgomes I've merged a change in cf7860e5c2037a496b596e1688bf5873875e3018 that hopefully addresses this issue. We'll be performing a release soon, please test it out and feel free to open a new ticket if there's still an issue. Thanks!

[2018-06-14 20:34] #210 closed

[2018-06-18 14:37] mosesn commented on #217
@IrimieBogdan to be honest, we don't know very much about util-zk because we don't use it very widely inside of Twitter anymore.  I would not be surprised that it doesn't work anymore.  Unfortunately, the right solution might be to switch to a different ZK client library.  We're currently auditing util to remove pieces that we are no longer confident in, and I think util-zk may be on the chopping

[2018-07-10 21:56] olix0r commented on #213
Is this resolved by #218?

[2018-07-10 22:02] adleong commented on #213
Yes! 🎉

[2018-07-10 22:02] #213 closed

[2018-07-13 15:16] SethTisue opened #219 "publish for Scala 2.13.0-M4?"

[2018-07-14 12:55] mosesn commented on #219
@SethTisue it's unlikely we'll do this soon.  It's impossible to migrate in such a way that we can use the same source across builds, especially since we still need 2.11.x support, so we'll need to set up new infrastructure to use different source across builds.  We started trying to do this here and it was pretty invasive: https://contributors.scala-lang.org/t/2-13-x-migration-and-source-compatib

[2018-07-18 03:39] SethTisue commented on #219
I see. we do consider it normal — not desirable, but the best we can do — that some projects that integrate especially closely with collections will need Scala-version-specific source directories for certain source files.

[2018-07-18 14:54] mosesn commented on #219
@SethTisue is there any sbt infrastructure to make this easy?  we aren't sbt experts, so that will probably be one of the main impediments.

[2018-07-18 15:22] SethTisue commented on #219
in sbt, alongside `src/main/scala` you can create any or all of `src/main/scala-2.11`, `src/main/scala-2.12`, `src/main/scala-2.13.0-M4` and the right additional source directory will be picked up by sbt (according to `scalaBinaryVersion`) with zero added configuration.

if you want to use the same version-specific source directory for more than one Scala version, then you need to do a little conf

[2018-07-19 05:03] lrytz commented on #219
https://github.com/rickynils/scalacheck/pull/411/files is an example

[2018-07-19 15:36] mosesn commented on #219
Great, thanks!

[2018-08-28 01:50] SethTisue opened #223 "LoggersCompilationTest failing"
after recent commits on the `develop` branch here, `util-slf4j-api/test:test` started failing:

[code]

this came up in the Scala community build (https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/3383/consoleFull), but the problem is also reproducible just by cloning this repo and running the test

in the community build, it's on Linux, but when it's faili

[2018-08-28 02:11] dschobel commented on #223
thanks for the headsup @SethTisue , looks like it was https://github.com/twitter/util/commit/56569b9f4226b65b32d4e3f0079515b6d5542816

we'll get it fixed up.

[2018-08-28 17:28] dschobel commented on #223
https://github.com/twitter/util/commit/7ab48ec47ae292b88fec4cb9ce67f38c6a27ec59 looks like it did the trick https://travis-ci.org/twitter/util/builds/421670890

thanks again for the report.

[2018-08-28 17:28] #223 closed

[2018-09-26 17:43] adleong opened #229 "Dependency on slf4j-simple causes version conflicts"
`util-slf4j-api` depends on `slf4j-simple` which brings a logging implementation in to any project which depends on `util-slf4j-api`.  This can cause version conflicts if the project already depends on another version of an `slf4j` implementation.  For example, `finagle-serversets` depends on `slf4j-log4j12:1.7.5`.

`util-slf4j-api` should not depend on any logging implementation (except in test s

[2018-09-26 17:47] ryanoneill commented on #229
Hey @adleong, we're looking into getting this fixed up as soon as we can.

[2018-09-26 20:27] ryanoneill commented on #229
fyi. https://github.com/twitter/util/commit/3d6d7457d34055a9e9c86ffd112cc477fd557e0f

I'm going to attempt a patch release now.

[2018-09-27 00:58] ryanoneill commented on #229
@adleong I've released version 18.9.1 which should be propagating out now and should fix this issue. Let me know how it works out. Thanks.

[2018-09-27 18:46] ryanoneill commented on #229
Alex, we've officially released 18.9.1 to address this issue. I'm going to close this one, but please open another one if there are still problems. Thanks!

https://finagle.github.io/blog/2018/09/27/point-release-notes/

[2018-09-27 18:46] #229 closed

[2018-09-27 19:50] adleong commented on #229
I'm trying 18.9.1 right now.  I'm able to build a fat JAR without any conflicts and everything looks good so far.  Thanks!

[2018-10-09 14:34] jpbempel opened #233 "Future.raiseWithin(duration) creates TimeoutException proactively"
`Future.raiseWithin(duration)` creates `TimeoutException` proactively

### Expected behavior

`Future.raiseWithin` should creates `TimeoutException` lazily

### Actual behavior

`Future.raiseWithin` creates `TimeoutException` for each call which is most of the time useless, but inefficient because creating an exception like this calls `fillInStackTrace` which build the stack trace associated to th

[2018-10-16 01:04] bryce-anderson commented on #233
@jpbempel, that seems like a good idea to me with the small caviate that it will break Java users. Let me see how it looks internally and we can go from there.

[2018-10-16 15:37] bryce-anderson commented on #233
Looks like there are a few use cases internally, but it looks like not so much that we shouldn't do it. I'll take a run at this.

[2018-10-22 20:13] bryce-anderson commented on #233
This should be fixed in 9bde57caffa7e127967fb2452beab3d09fd9888e which unfortunately just missed the release window.

[2018-10-22 20:13] #233 closed

[2018-11-05 15:42] ryanb93 opened #235 "Illegal Reflective Access in Hotspot.scala"
The following warning is produced when run in a JRE > 9.

[code]

https://github.com/twitter/util/blob/6f587b35acb19b9e526ff6f0111f9512d091175a/util-jvm/src/main/scala/com/twitter/jvm/Hotspot.scala#L38

[2018-11-13 17:59] Bachmann1234 opened #237 "Link to your docs 404s"
The api docs linked here https://twitter.github.io/util/ no longer work.

Seems https://twitter.github.io/util/docs/#com.twitter.util.package does not exist

[2018-12-12 12:49] dziemba opened #239 "New implicit unit conversions no longer work when importing more than one"
New Implicit unit conversions no longer work when importing more than one package in v18.12.0.

### Expected behavior

When using the new implicit unit conversions (`com.twitter.conversions.*Ops`), I expect to be able to use more than one conversion type, i.e. both `StorageUnitOps` and `DurationOps`

### Actual behavior

When importing more than one *Ops package, all conversions fail. It works fin

[2018-12-12 23:18] kevinoliver commented on #239
interesting find, thanks!

this looks to be a limitation of the implicit classes using the same name. i this this is worth breaking the API to fix.

[2018-12-12 23:36] kevinoliver commented on #237
Thanks @Bachmann1234 and apologies for the delay. Looks like this got addressed in the linked commit and then the 18.2 release.

[2018-12-12 23:36] #237 closed

[2018-12-12 23:37] kevinoliver commented on #239
@dziemba I should get this patched today.

[2018-12-12 23:40] kevinoliver commented on #235
Thanks. I believe we don't officially support JDK 9+ yet. I think our next version will be JDK 11 which is an LTS release. We have not begun this effort.

[2018-12-12 23:56] kevinoliver commented on #142
we are doing a bunch of work to improve streaming in Finagle / Finatra. this may include reactive streams converters in Finatra.

however, we don't have plans for this in util.

[2018-12-12 23:56] #142 closed

[2018-12-13 00:06] Bachmann1234 commented on #237
Awesome thanks!

[2019-01-11 16:36] SethTisue commented on #219
2.13.0-M5 is out now. 2.13.0-RC1 is planned for around the end of January

[2019-03-22 16:45] mosesn commented on #219
@SethTisue we're probably going to try to take another stab at building against 2.13.0-M5 (or 2.13.0-RC1 if it's out by the time we start) without cross-building this time so that we can get a bit further.

[2019-03-22 19:33] SethTisue commented on #219
cool! we hope to have RC1 out in perhaps as little as a week, now.

[2019-04-04 13:10] lssilva opened #244 "Wrong number of arguments"
I am using version 19.3.0 and I see in the logs the following error:

 `java.lang.IllegalArgumentException: wrong number of arguments
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.i

[2019-04-04 13:27] lssilva commented on #244
Seems it was fixed on this commit: https://github.com/twitter/util/commit/52d49ad98c3ec3b08218a60d6ede322c0f7edc5e#diff-17875bdf59a97a432ccfe4dd7e877be1
So I will close this

[2019-04-04 15:09] kevinoliver commented on #244
Apologies for this. The good news is that it is "harmless" and your application will be unaffected. Only Finagle's tracing is using it though would break custom usages.

[2019-04-04 15:09] #244 closed

[2019-04-10 22:00] kevinoliver opened #245 "Minor follow-ups from PR #242"
Merging PR #242 fixed a broken window. Thanks!

While merging this internally a few comments were brought up by folks. These were not blockers. Think of them as worth more discussion.

Roughly:
* In `get`, maybe call `Class.forName(className)` once and pass it in to `tryModuleField` and `tryMethod` to reduce overhead?
* In `getAll`, why do we parse `cls` from `info.className`, then do `get(info.cl

[2019-04-11 09:32] madhava-sridhar opened #246 "Minor - Wrong Code in Cookbook documentation"
Wrong Code in Cookbook documentation

### Expected behavior

In page https://twitter.github.io/util/guide/util-cookbook/futures.html , in 1st Code example method  "asScala" has param "implicit e: ExecutionContext " which is not required by code contained in the method "asScala" (Execution Context is not used by contained code as well)

### Actual behavior

method  "asScala" doesn't have  param "im

[2019-04-11 12:28] monkeyroar commented on #212
This is resolved in #242

[2019-04-11 14:17] #212 closed

[2019-04-11 22:35] kevinoliver commented on #246
yep, good eyes.

any interest in putting together the small PR to fix?

[2019-04-12 14:38] monkeyroar commented on #245
I'll look into it, can you assign this issue to me?

[2019-04-12 16:53] kevinoliver commented on #245
awesome, thanks!

i must not know the github magic. you don't show up when i try to assign it to you. weird!

[2019-04-14 06:39] soojee commented on #246
Hi, I'd like to take a go at this!

[2019-04-14 20:00] magro commented on #219
Maybe rename to "2.13.0-RC1" now?

[2019-04-16 14:37] martijnhoekstra commented on #219
WIP in https://github.com/twitter/util/pull/248

Jackson XML and scoverage aren't released yet for RC1, https://github.com/FasterXML/jackson-module-scala/issues/405 and  https://github.com/scoverage/scalac-scoverage-plugin/issues/250

[2019-04-17 18:45] soojee commented on #246
Fixed by #247.

[2019-04-17 18:46] #246 closed

[2019-07-16 13:42] luciferous commented on #245
@monkeyroar all yours

[2019-07-16 13:45] luciferous commented on #158
This is a very old issue and util-zk is being considered from removal.

[2019-07-16 13:45] #158 closed

[2019-07-16 13:46] luciferous commented on #207
Hi @rquinlivan are you still working on this?

[2019-07-16 13:48] #217 closed

[2019-07-16 13:52] luciferous commented on #235
We'll be forced to tackle this issue when we target JDK 11.

[2019-07-16 13:52] #235 closed

[2019-07-27 17:55] Anurag870 commented on #245
Created a PR for this.

[2019-08-05 10:22] anukul commented on #207
Hi! I'd like to take this up, if nobody else is working on it at the moment.

[2019-08-05 22:45] kevinoliver commented on #207
@anukul given how long its been, I think it's safe for you to take a crack at it.

[2019-08-07 17:21] yufangong commented on #219
Publish for scala 2.13 is enabled by https://github.com/twitter/util/pull/248. Thank you all.

[2019-08-07 17:21] #219 closed

[2019-08-08 23:55] SethTisue opened #253 "publish for Scala 2.13?"
as per https://github.com/twitter/util/issues/219, 2.13 publishing is now "enabled", but I don't see any artifacts on Maven Central. opening this new ticket to track status on that

[2019-08-09 20:10] yufangong commented on #253
Ugh, I see what's going on here. The cross-building work missed the August release, It should show up after Sep release, which should be in early September.

[2019-08-12 18:17] yufangong commented on #245
This is fixed by https://github.com/twitter/util/pull/250, closing this. Thanks all.

[2019-08-12 18:17] #245 closed

[2019-08-13 10:04] ayoub-benali commented on #253
So there is no way to trigger a `Util 19.8.1` release ?

[2019-08-14 14:06] SethTisue commented on #253
it's not so much delay on twitter-util itself here that worries me a bit, it's the prospect of an additional month of delay being inserted at each level of the various dependency chains that start at twitter-util, but then pass through multiple levels of Twitter-published dependencies, eventually reaching Finagle, Spark, and so forth

[2019-08-15 22:25] kevinoliver commented on #253
@SethTisue makes sense. @yufangong kicked off the dot release yesterday and should be sorted soon. thanks for your patience.

[2019-08-16 19:17] yufangong commented on #253
Hey @SethTisue @ayoub-benali and @martijnhoekstra, util 19.8.1 showed up in Maven Central now.

[2019-08-19 15:39] #253 closed

[2019-09-02 15:49] ghacheniour opened #256 "com.twitter.util.Time.at("yyyy-MM-dd HH:mm:ss Z") thrws an exception"
I am trying to create a Time object from string using com.twitter.util.Time.at with format "yyyy-MM-dd HH:mm:ss Z" as in the [docs](https://twitter.github.io/util/docs/com/twitter/util/Time$.html).

### Expected behavior

 The string is parsed correctly

### Actual behavior

an exception "Unparseable date" is thrown

### Steps to reproduce the behavior

[2019-09-03 16:04] ryanoneill commented on #256
Hi @ghacheniour,

The issue you're observing is due to the inclusion of the 'Z' when calling `Time.at`. The 'Z' here is a placeholder as well, and it indicates the `TimeZone` of the date/time being passed in. If you take a look at Java's [SimpleDateFormat](https://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html) you can see specifically what all these values mean. On the page the

[2019-09-04 00:06] kevinoliver commented on #256
We should probably improve the docs to include an example as @ryanoneill did here.

[2019-10-21 20:14] drandreaskrueger opened #259 "(FR) language chooser option for twitter GUI / tweetdeck"
perhaps this repo twitter/util would have been a better place to ask this question?

**DETAILS SEE HERE:** https://github.com/twitter/twitter-text/issues/291

# your questions:

### problem in one sentence:

my followers/following use English PLUS another language. I want to select "English only".

### Expected behavior

A button on each homepage "show only English tweets"

### Actual behavior

bu

[2019-10-24 13:33] mosesn commented on #259
@drandreaskrueger please direct feedback about your Twitter experience to Twitter support, this repo is only about the twitter util project specifically.

[2019-10-24 13:33] #259 closed

[2019-10-24 15:57] drandreaskrueger commented on #259
Which repo can I use for that?

It makes sense to start a github issue, where coders can communicate & cooperate on this.

If there is no "feature request" repo yet ... create one. It's worth it, believe you me.    I have more suggestions, and I am just one of many, who are thinking useful thoughts about your company.

[2019-10-25 11:35] mosesn commented on #259
There isn't a repo, sorry!  Please follow up with Twitter support.

[2019-10-30 23:55] drandreaskrueger commented on #259
I cannot. Because there is no Twitter support. Look at this:

1. [Contact us](https://help.twitter.com/en/contact-us) --> 3 topics, none fits
2. view all support topics --> https://help.twitter.com/forms. --> 27 topics, none fits.

You really want a "feature request" repo ...

[2019-11-08 00:10] drandreaskrueger commented on #259
What about this: https://github.com/tweepy/tweepy/issues/1291  ?

If there is really no twitter API call for that, then everyone who still wants to get that information ... must do 3200 API.search calls [q=t.id for t in _all_my_recent_tweets] - and each possibly with paging calls.

That is not efficient, especially not for the twitter servers, right?

[2019-11-15 22:22] drandreaskrueger commented on #259
I have asked the question here now:

https://twitterdevfeedback.uservoice.com/forums/921790-twitter-developer-labs/suggestions/39046141-multilingual-accounts-language-chooser-only-engl

[2020-02-21 10:06] sjoerd-vogel opened #266 "Please reconsider #235"
Please reconsider #235 as it is required for jdk11 support.

### Expected behavior

https://twitter.github.io/finagle/guide/changelog.html mentions initial jdk11 support for 19.11.0 onwards. Hence I expect jdk11 support.

### Actual behavior

As far as I can tell issue #235 has not yet been fixed. It results in warnings in jdk11.

### Steps to reproduce the behavior

See issue #235 for this.

[2020-03-08 16:48] cacoco commented on #266
@sjoerd-vogel Hi there, thanks for the issue! Reading through the previous ticket, I don't think the intention was that we are done here -- it's just that we don't yet officially support anything other than JDK8 and when we move to full support of JDK11 we will tackle this (it should be within the next few quarters). Since it only results in warnings and not an error we're waiting until the move t

[2020-03-17 11:27] pvasterd opened #272 "util-jvm: Support for HP NonStop Hotspot JVM"
Twitter/util does not work on HP Nonstop Hotspot JVM  as some native metrics functions are not implemented

This issue is cloned from https://github.com/twitter/finagle/issues/833, but as issue and fix is in twitter/util, moving the issue to twitter/util as well.

### Expected behavior

Even if certain native functions are not supported by the underlying JVM - that are not essential for the base f

[2020-03-17 14:24] mosesn commented on #272
@pvasterd thanks for the ticket!  Would you be interested in tackling this?  My suspicion is that the way that would look is that we change the way we construct a `Hotspot` to throw an exception if it's on "HP Nonstop Hotspot".

[2020-04-15 16:19] bryce-anderson commented on #272
@pvasterd, is this something you'd like to contribute? We don't run that VM so there is no way for us to test it.

[2020-04-15 17:13] pvasterd commented on #272
Hi @bryce-anderson, I did contribute this in this https://github.com/twitter/util/pull/273. That PR was not merged, but my commit 097095138cdd1b99dc4a20a9785c7bd71a26a7b6 got in and is now part of 20.4.0.

Since my commit got in I closed https://github.com/twitter/util/pull/273 myself.

[2020-04-15 22:57] bryce-anderson commented on #272
Okay, sounds like it's already done. Thanks!

[2020-04-15 22:57] #272 closed

[2020-04-24 10:32] felixbr opened #274 "Path to Scala 3"
This is an issue for discussing and tracking necessary step to prepare for a Dotty/Scala3 cross-build.

Inspired by the awesome "Scala Love" conference, I attempted to cross-build `util-core` with Dotty `0.23.0-RC1`. So far it went smoother than expected. In the end there were about 4 compile-errors that I couldn't directly address.

In any case there's some work that has to be done before a real

[2020-04-24 22:17] mosesn commented on #274
@felixbr yep, we're perfectly happy to have those kinds of conversations here.  If it turns into a big effort, we'll probably set up a ticket like https://github.com/twitter/finagle/issues/771 for doing it.  We're going to upgrade scalatest soon to support https://github.com/twitter/finatra/pull/527.

I can file an internal ticket around upgrading our sbt version, but we're going through some turb

[2020-04-24 22:22] mosesn commented on #274
Oh, also, as we find things that are challenging to migrate, that's probably good feedback for the scala compiler team.  Especially if there are things that scalafix handles poorly.  Please let us know what your experience in trying it out is like!  Thanks for taking this on, I'm excited to see what you find =)

[2020-05-02 21:04] cacoco commented on #274
@felixbr FYI, we've updated to sbt 1.3.10 in 6ee7b49a7aa22462648dd9be27e2c577b3a9f003. Scalatest upgrade may take a bit longer. Thanks.

[2020-05-16 12:42] balthild opened #277 "Supporting scala-async"
As mentioned in #93, `Future` do not supprt [scala-async](https://github.com/scala/scala-async) (which introduces the wonderful async/await pattern) because c.t.utils is bound to scala 2.9.2.

Now it's been a while since the library moved to scala 2.12, and I think it's time to reconsider the feature.

[2020-05-19 01:13] ryanoneill commented on #277
Hi @balthild,

Thanks for revisiting, and interesting timing. Someone else happened to ask about this inside of Twitter within the past week. We are (thankfully) no longer on scala 2.9.2, and are using scala 2.12 inside of Twitter. Right now though for our open source libraries, we're supporting 2.11, 2.12, and trying to get to 2.13 (Finatra's currently blocked there but being worked on).

My expe

[2020-05-27 23:24] davidabrahams opened #278 "Inconsistent Timer behavior for timeouts between MockTimer and DefaultTimer"
I ran into some slightly unintuitive behavior when using the `MockTimer` to test time-dependent code. I wanted to check if this is the intended behavior, or if perhaps there is a better way for me to be writing my tests.

Whether or not a `Future` is timed out is dependent on if the `timeControl` is advanced past when the slow computation completes when using `MockTimer`.

I wrote up a quick unit-

[2020-05-29 01:20] jyanJing commented on #278
Hi @davidabrahams ,

Thanks for all the details, they are really helpful!

I think what you have seen in the test is the expected behavior, because `timeControl` will manipulate `Time.now`, that affects `mockTimer` and `Future`s that timed by it. In test #3, when you call `Future.sleep(100)` with the `mockTimer`, it calculates the timestamp to satisfy this future, and put the `Future.sleep` job in

[2020-06-01 22:23] davidabrahams commented on #278
Hi @jyanJing

Thanks for the reply + explanation. Yeah it makes sense to me why this is the current behavior, I guess the question I'm asking is: "is this the right desired behavior?" I'd argue this behavior is a bit confusing, and makes it difficult to test code which has complex timeout logic, since it may be difficult to write a test which advances the `timeControl` in order to place it between

[2020-06-04 19:50] jyanJing commented on #278
Hi @davidabrahams,

This behavior makes sense to me, because when creating a future via the mockTimer with `val future = runTest(mockTimer)`, it makes sense to time that future so the `Future.sleep` should also be affected and timed by the `mockTimer`. What use cases do you have that you don't want the future to be affected?

I am not very strong about it, so also open to opinions from other folks

[2020-06-26 01:17] davidabrahams commented on #278
Hi @jyanJing

Sorry about the latency- been pretty busy recently :) Thanks for the discussion on this issue!

I'll close the issue. I may revisit this in the future and perhaps work on a PR, but I'm a bit too busy right now, so I think it's best I close the issue to avoid staleness.

Thanks again for the discussion

[2020-06-26 01:17] #278 closed

[2020-06-26 11:39] olafurpg commented on #277
I took a stab at integrating Twitter futures with the new async/await support in 2.13.3 (and soon 2.12.12) in the PR #279

[2020-07-17 19:28] mosesn commented on #274
@felixbr sorry for the delay, scalatest was a beast.  It's finally updated https://github.com/twitter/util/commit/db63a6dcf2113606f27e04d6860ad2d0ca72ab5e

[2020-07-17 21:30] felixbr commented on #274
Oh, that's great news! :)

[2020-07-27 14:42] mosesn commented on #274
@felixbr what do you think are the next steps to supporting scala 3?  We've tackled the two you suggested before.

[2020-07-27 15:26] felixbr commented on #274
The biggest problem is that Dotty/Scala 3 is not stable yet, so (if I understand correctly) for any given Dotty version we want to use for a cross-build, the dependencies have to be available. It's a moving target and that makes it difficult at the moment.

I just looked at maven-central and it seems that for Dotty 0.23 a Scalatest 3.1.2 version and for Dotty 0.24 a Scalatest 3.2.0 version exists.

[2020-07-28 10:28] ComFreek commented on #266
Are there any news on this issue? JDK 8 has been long superseeded by newer versions.

[2020-07-28 14:05] mosesn commented on #274
@felixbr I'm inclined to just start with 0.23, and we can move to newer versions after we upgrade our scalatest.  I think scalatest 3.1.x's scalafix rewrite will be easier to use than the 3.0.8 one, so I'm cautiously optimistic that the 3.2.0 upgrade won't take that long.

@SethTisue what do you think is the right way forward here?

[2020-07-28 14:16] mosesn commented on #274
Poking around a bit, it looks like @martijnhoekstra also tried porting util to dotty, and ran into some issues: https://contributors.scala-lang.org/t/scala-3-migration-guide/4237/6

What is the usual strategy that people take?  Do they keep two different sets of code, or do they use the subset of scala that is supported by both scala 2 and scala 3?  I think one approach I would be happy with would

[2020-07-28 16:00] martijnhoekstra commented on #274
@mosesn to me it made sense at the time to report the encountered issues to dotty and not bother with workarounds yet, since introducing (sometimes ugly) workarounds for bugs that probably won't be in scala 3.0 release didn't make sense to me.

IIRC the biggest issue was the dropped support for macros which is used in IIRC the deprecated Configuration stuff (with existing notes about breakages). A

[2020-07-28 16:49] mosesn commented on #274
Cool!  I'm glad to hear it.  Which Configuration stuff?  Util doesn't have any macros afaik

[2020-07-28 18:35] martijnhoekstra commented on #274
I took another look @mosesn

It wasn't macros, but it was a dependency on scala-reflect in Config (filtering out synthetics).

Apart from that, for now the dealbreakers look like the same as mentioned on the contributors thread: no `@varargs` support just yet (so no java-compatible varargs forwarders and no overriding of java-compatible varargs, needed in `InMemoryStatCounter`) and no good story f

[2020-07-28 19:28] martijnhoekstra commented on #274
https://github.com/twitter/util/compare/develop...martijnhoekstra:dotty-compat is a quick port -- in this state all main projects compile (but test crash-and-burns)

[2020-07-28 21:49] mosesn commented on #274
Got it.  What do you think would be the right way to interact with the dotty team to get them to prioritize this stuff?  It would be really neat for us to be able to add util to the dotty community build.

[2020-07-28 22:14] felixbr commented on #274
@martijnhoekstra I found pretty much the same blockers when I attempted the cross-build. I didn't really understand what exactly scala-reflect was used for. Do you think we can just remove it?

Maybe we should gather the missing features and then talk to the Dotty team, which of them can be expected to be solved by them and which need a separate workaround anyway.

- [ ] Dependency on scala-reflec

[2020-07-28 22:27] martijnhoekstra commented on #274
I bet it would be neat for the dotty team too, I think 2.13 would have been smoother if we ported earlier in the RC cycle too and it would be a shame if that happens here. Now is the time to do that.

The dotty team is really responsive to issues. They merged fixes for issues I opened earlier in a matter of hours after reporting. I can check tomorrow what issues are still open and give them a ping

[2020-07-29 08:14] larsrh commented on #274
I have a bit time at my hands. Would you be interested in me sending a PR porting to ScalaTest 3.2? (I think this is a good idea regardless of Dotty.)

[2020-07-29 08:51] martijnhoekstra commented on #274
Reflective access is fixed in https://github.com/lampepfl/dotty/pull/9420 -- it's not released yet. To workaround, we could maybe use a scala-2 specific shim. That probably needs some sbt-foo to get a scala-2 only directory analogous to the 2.13+/2.12- directories. Or is that built-in in the dotty plugin?

The thing with scalatest is that (at least it used to be the case that) dependencies have to

[2020-07-29 08:53] larsrh commented on #274
Yeah, @felixbr told me as much. Based on a quick investigation it also requires
* running the Scalafix rules to avoid the deprecated names in ScalaTest (can be done with ST 3.1)
* upgrading Mockito

[2020-07-29 11:57] martijnhoekstra commented on #274
What I thought was a varargs issue now looks like an overriding bug in dotty: https://github.com/lampepfl/dotty/issues/9463

[2020-07-29 15:08] mosesn commented on #274
I'm talking to a team in a couple hours that might be willing to move Twitter to scalatest 3.2, let me get back to you.  If they don't have bandwidth, I can (probably) do it myself.

Re: Config, I think we can delete it, it has been deprecated for 7 years.  That'll be an action item for me, we have to make a few changes in our codebase.

[2020-07-29 16:06] martijnhoekstra commented on #274
That leaves the varargs overriding above that I haven't yet found a workaround for, and scalatest 3.2 actually getting released for dotty. The scala2 shim for reflectiveSelectable works fine, at the cost of some sbt config and a scala2-specific source directory.

[2020-07-29 16:47] felixbr commented on #274
I've updated the issue with the action items you talked about and the two external dependencies we're waiting for.

edit: This time for real, the first edit got lost somehow...

[2020-07-30 14:08] mosesn commented on #274
The meeting we had yesterday wasn't fully resolved, I'll take a stab at applying the scalafix patch (it's complicated because of the scale of our codebase) and see how it goes.  Unfortunately our scalafix experts are on vacation, but hopefully I don't run into anything too bad 🤞

[2020-07-31 08:13] martijnhoekstra commented on #274
I asked about the dotty 0.29 plans of scalatest on their mailing list, but my message is still in moderation.

[2020-08-01 09:32] martijnhoekstra commented on #274
I see there is a PR open now to bring 0.29 support to scalatest 3.1.x which I seemingly prematurely assumed to be EOL.

[2020-08-03 18:54] mosesn commented on #274
Rad!  I'm not going to try to push moving Twitter to 3.2 forward immediately then.  I've taken a stab at Config, but it seems like we used it in a bad way with util-eval and we're going to need to unravel that.

[2020-08-05 15:22] alilewin opened #281 "Security permissions are not being checked in ContentionHandler first when using a TwitterServer"
When running some Finatra feature tests in scala for a `TwitterServer`, permissions in the JVM [SecurityManager](https://docs.oracle.com/javase/8/docs/api/java/lang/SecurityManager.html) policy are not first being checked before trying to invoke that code. Is this expected, and if so is this something we want to change?

### Expected behavior

When running some Finatra feature tests, I ran into th

[2020-08-13 23:13] cacoco commented on #281
@alilewin addressed this here: https://github.com/twitter/twitter-server/commit/ce783a3cadb9b27473006b59547adf22c534f5d9

Let us know if that doesn't work for you, it should be in our release next month.

[2020-08-13 23:13] #281 closed, assigned to nobody

[2020-09-12 15:18] hartmut27 commented on #235
side note: as a **work-around** - to suppress the warnings in the log, comatible with OpenJDK 14 JVM: [Gist](https://gist.github.com/hartmut27/915a732f5e09ca4b3e0b9d577572cc76)

[2020-09-25 03:39] dhope-lab opened #282 "for first timers - is it expected you write code contributions with your issues, or can you also just do docs?"
One line summary of the issue here.

### Expected behavior

As concisely as possible, describe the expected behavior.

### Actual behavior

As concisely as possible, describe the observed behavior.

### Steps to reproduce the behavior

Please list all relevant steps to reproduce the observed behavior.

[2020-09-25 16:24] ryanoneill commented on #282
If you're asking whether you can contribute to our open source projects (util/finagle/scrooge/twitter-server/finatra) by updating documentation, absolutely.

If you're asking whether if you report an issue whether you'll be expected to contribute code to fix it, no not particularly. We try to give people the opportunity to fix something that they report though. Also, if it's a feature request, or

[2020-09-25 16:24] cacoco commented on #282
@huhwhy thanks for the question! This is an open source project and as such the expectation is that a PR to change anything in the repository is fair game, this would include documentation updates and improvements or changes. If you look in the commit history, I'm sure you'll find PRs that simply fixed typos or incorrect documentation contained herein. Hope that answers your question. Thanks!

[2020-09-25 16:24] #282 closed, assigned to nobody

[2020-11-05 02:50] smarter commented on #274
FWIW, it looks like scalatest 3.1 hasn't been published for dotty 0.27.0-RC1, so it might in fact be EOL by now: https://repo1.maven.org/maven2/org/scalatest/scalatest_0.27/, though it might be worth asking the maintainers.

[2020-11-08 15:30] mosesn commented on #274
Ok, that's good to know.  We'll start trying to push for scalatest 3.2.  Scalafix seems to have a hard time on codebases of our size, so we're going to need to do some work to get us there.

[2020-11-08 19:19] martijnhoekstra commented on #274
Bug reports about that are probably appreciated, even if they don't turn out to be actionable in a timeframe to be useful to this issue.

[2020-11-11 09:54] ComFreek commented on #266
@cacoco Is there any update on this? :smile:

[2020-11-11 15:41] mosesn commented on #274
@martijnhoekstra we've basically built a distributed scalafix-ing framework that lets us chunk up scalafixing.  I'm not sure there's a ton that scalafix can do to improve this–we just can't hold all of Twitter's scala code in RAM.

[2020-11-11 17:40] cacoco commented on #266
@ComFreek hey there! We run a very large codebase and are still in the process of certifying the move to JDK11. I don't have a current ETA here but the work is on-going. Hope that helps. Thanks!

[2020-11-14 11:47] sjoerd-vogel commented on #266
I gave this a shot.
https://github.com/twitter/util/pull/284

[2020-11-21 12:22] mosesn commented on #274
OK, @joybestourous removed Config, and it looks like scalatest 3.2.x is [published](https://search.maven.org/artifact/org.scalatest/scalatest-core_3.0.0-M1) for scala 3, so I think the last thing we're waiting on is migrating to the newer scalatest now.  We're still having some problems with the scalafix rule.  Although the distributed scalafix job seems to be working, we're now having a problem w

[2021-02-28 13:55] felixbr commented on #274
FYI: Scalatest has support for all Scala 3 releases so far:

- Scalatest 3.2.3 supports all Scala 3 milestone releases (3.0.0-M1, 3.0.0-M2, 3.0.0-M3)
- Scalatest 3.2.5 supports Scala 3.0.0-RC1
- Scalatest 3.2.7 supports Scala 3.0.0-RC2
- Scalatest 3.2.8 supports Scala 3.0.0-RC3
- Scalatest 3.2.9 supports Scala 3.0.0

https://mvnrepository.com/artifact/org.scalatest/scalatest

Just thought it might

[2021-04-15 12:23] mosesn commented on #274
Thanks for following up @felixbr!  We have had some issues with the scalatest 3.2.x migration (short version is that scalafix runs into a ton of edge cases it doesn't handle well in the rest of our codebase) and I haven't had a chance yet to either fix the edge cases by hand or patch scalafix.  I think if someone wants to make forward progress, they should try building util against 3.1.x in Scala

[2021-05-24 18:36] felixbr commented on #274
I've opened PRs #288 and #289 as preparation steps for a real Scala 3.0.0 cross-build. 🙂

[2021-08-22 09:50] MrCull opened #294 "Bad link - 404 Not Found - in readme.md: https://twitter.github.com/util"
**Describe the bug**

Bad link - 404 Not Found - in readme.md:
https://twitter.github.com/util

**To Reproduce**
![image](https://user-images.githubusercontent.com/16634034/130350468-dc966f76-055e-46a8-a6b1-e0f3ac8517f4.png)

![image](https://user-images.githubusercontent.com/16634034/130350477-6d84e270-f64d-4c25-9238-f6772d58ae52.png)

**Expected behavior**

The 404 extra info suggest this should

[2021-08-24 16:17] cacoco commented on #294
@MrCull thanks for the issue. I think this just needs to be updated to the correct github.io address since GitHub stopped redirecting github.com recently: https://github.blog/changelog/2021-01-29-github-pages-will-stop-redirecting-pages-sites-from-github-com-after-april-15-2021/.

[2021-10-12 23:58] cacoco commented on #294
I believe the README has been updated. Closing this now. Thanks again!

[2021-10-12 23:58] #294 closed, assigned to nobody

[2022-03-14 09:52] felixbr commented on #266
So, [JDK8 is EoL end of March 2022](https://endoflife.date/java). Also there are several known bugs in JDK8 which would be fixed in JDK11+.

I suspect Twitter still doesn't support anything beyond JDK8 officially for their codebase but maybe we can at least try and support JDK11 for twitter-util, twitter-server, and finagle (= open-source libraries)?

When looking at the CI-config [here](https://g

[2022-06-07 12:23] felixbr commented on #274
It's been a while since I've last looked into it and a lot of util-* modules support Scala 3 now, which is great!

The end goal for me personally is to use Finagle and `twitter-server` with Scala 3.

I checked [the `finagle` project](https://github.com/twitter/finagle/blob/develop/build.sbt#L386-L414) and most of the util-* modules `finagle-core` depends on are already ported. The ones missing see

[2022-06-15 13:29] mosesn commented on #274
@felixbr thanks for reaching out!  util-validator is a new project, it was just an oversight to not publish it for 3.x.  I'm not sure about util-{security,tunable,test}.  We would be excited about PRs to get them publishable w/ 3.x!

[2022-06-22 14:41] pjfanning commented on #274
util-jackson does not yet seem to support Scala 3

https://mvnrepository.com/artifact/com.twitter/util-jackson

jackson-module-scala supports Scala 3 but there is one issue that will affect you. jackson-module-scala ScalaObjectMapper is deprecated but is still supported on Scala 2 (and will be for a while) but for Scala 3, you will need to use ClassTagExtensions instead. ClassTagExtensions works i

[2022-06-22 16:10] pjfanning commented on #274
Looks like a lot of modules depend on util-reflect which won't compile in Scala 3 because many scala reflection features have been replaced in Scala 3.

[code]

Also util-mock depends on mockito-scala and that lib does not support Scala 3 - see https://github.com/mockito/mockito-scala/issues/364

[2022-07-08 13:57] felixbr commented on #274
@mosesn There are several PRs for Scala 3 related updates open. Is there any chance to get them in?

I'd love to have everything in place so Scala 3 work on `finagle-core` is unblocked 🙂

[2022-09-02 14:25] pjfanning commented on #274
The Scala team have clarified how best to support Scala 3.x builds.
* https://www.scala-lang.org/blog/2022/08/17/long-term-compatibility-plans.html

I was under the false impression that building with Scala 3.0 was best but the article above suggests building with latest Scala version even if that prevents lib users from using the latest lib releases with older versions of Scala 3 libs.

Scala 3.2